footer {
    background: #211a14;
    color: #fff;
    margin-top: 72px;
    .content {
        padding-top: 48px;
        padding-bottom: 48px;
        > div {
            width: calc(25% - 9px);
            h4 {
                font-weight: $w-regular;
                margin-bottom: 24px;
            }
            .appStore,
            .googlePlay {
                img {
                    width: 150px;
                }
                &.googlePlay {
                    margin-top: 12px;
                }
            }
            > a {
                font-size: 14px;
                line-height: 18px;
                &:hover {
                    text-decoration: underline;
                }
                &:nth-child(n+2) {
                    margin-top: 12px;
                }
            }
            .social {
                svg {
                    width: 30px;
                    height: 30px;
                    color: #fff;
                    fill: #fff;
                    &:first-child {
                        margin-right: 12px;
                    }
                }
            }
            .credits {
                margin-top: 24px;
                svg {
                    width: 16px;
                    height: 16px;
                    color: #fff;
                    fill: #fff;
                    margin-right: 6px;
                }
                p {
                    margin-top: 0;
                    font-size: 16px;
                    line-height: 16px;
                }
            }
            .logo {
                margin-top: 24px;
                height: 120px;
            }
        }
    }
}