header {
    top: 0;
    left: 0;
    background: $cWhite;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    z-index: 998;
    .header-top {
        background: #ed7838;
        padding: 6px 12px;
        li {
            font-size: 16px;
            line-height: 16px;
            text-transform: uppercase;
            color: #fff;
            &:hover {
                text-decoration: underline;
            }
            &:last-child {
                position: relative;
                margin-left: 12px;
                padding-left: 12px;
                &:before {
                    content: '';
                    display: inline-flex;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 1px;
                    height: 100%;
                    background: #fff;
                }
            }
        }
    }
    .headerLeft {
        padding: 12px 0;
        width: 215px;
        overflow: hidden;
        transition: all 0.3s;
        &.scrolled {
            width: 44px;
            margin-right: 171px;
        }
        .logo {
            min-width: 100%;
            height: 100%;
            max-width: 215px;
            max-height: 72px;
        }
    }
    .headerMiddle {
        transform: translateY(-50%);
        opacity: 0;
        transition: all 0.3s;
        &.show {
            transform: translateY(0);
            opacity: 1;
        }
        .searchTop {
            border: 1px solid #d95c26;
            border-radius: 5px;
            overflow: hidden;
            > div {
                padding: 12px 14px;
                cursor: pointer;
                svg {
                    color: #d95c26;
                    fill: #d95c26;
                }
                &.selected,
                &:hover {
                    background: #d95c26;
                    svg {
                        color: #fff;
                        fill: #fff;
                    }
                }
            }
        }
        .searchBars {
            width: 500px;
            margin-left: 12px;
            > div {
                border: 1px solid rgba(#80756E, 0.4);
                border-radius: 5px;
                width: 100%;
                height: 100%;
                padding: 0 6px 0 12px;
                &.onlineSearchBar {
                    display: none;
                }
                .citySelector {
                    color: #80756e;
                    fill: #80756e;
                    font-size: 16px;
                    padding-right: 18px;
                    position: relative;
                    &:before {
                        content: '';
                        display: inline-flex;
                        width: 1px;
                        height: 60%;
                        position: absolute;
                        top: 20%;
                        right: 9px;
                        background: rgba(#80756e, 0.4); 
                    }
                    > div {
                        margin-left: 6px;
                    }
                }
                .categorySelector {
                    width: 100%;
                    input {
                        width: 100%;
                        border: 0;
                        padding-right: 18px;
                        &::placeholder {
                            color: rgba(#80756e, 0.4);
                            font-style: italic;
                        }
                    }
                    .searchButton {
                        background: #d95c26;
                        color: #fff;
                        height: calc(100% - 12px);
                        border: 1px solid #d95c26;
                        border-radius: 5px;
                        font-size: 14px;
                        padding: 0 12px;
                        text-transform: uppercase;
                        cursor: pointer;
                        &:hover {
                            background: #fff;
                            color: #d95c26;
                        }
                    }
                }
            }
        }
    }
    .headerRight {
        ul {
            li {
                border: 1px solid rgba(#80756e, 0.2);
                border-radius: 5px;
                font-size: 16px;
                line-height: 16px;
                text-transform: uppercase;
                a {
                    padding: 12px 8px;
                }
                &:last-child {
                    margin-left: 24px;
                    background: #d95c26;
                    border-color: #d95c26;
                    color: #fff;
                    fill: #fff;
                }
                svg {
                    width: 20px;
                    height: 20px;
                    margin-right: 8px;
                }
                &:hover {
                    background: rgba(#80756e, 0.2);
                    &:last-child {
                        background: #fff;
                        color: #d95c26;
                        fill: #d95c26;
                    }
                }
            }
        }
    }
}