.hero {
    // background: #d95c26;
    background: rgb(217,92,38);
    background: linear-gradient(90deg, rgba(217,92,38,1) 0%, rgba(217,92,38,1) 70%, rgba(235,158,63,1) 100%);
    border-radius: 20px;
    .background {
        bottom: 0;
        right: 0;
        z-index: 1;
        width: 300px;
        max-height: 80%;
    }
    .heroContent {
        z-index: 3;
        padding-top: 200px;
        padding-bottom: 200px;
        padding-left: 72px;
        h1 {
            color: $cWhite;
            font-size: 30px;
            line-height: 40px;
            font-weight: $w-medium;
        }
        .searchTop {
            margin-top: 24px;
            & > div {
                border-radius: 5px;
                background: rgba(#fff, 0.2);
                padding: 8px;
                font-size: 16px;
                line-height: normal;
                color: #fff;
                fill: #fff;
                cursor: pointer;
                &:first-child {
                    margin-right: 12px;
                }
                svg {
                    margin-right: 12px;
                }
                &:hover,
                &.selected {
                    background: #fff;
                    color: #d95c26;
                    fill: #d95c26;
                }
            }
        }
        .searchBars {
            margin-top: 12px;
            > div {
                background: #fff;
                border-radius: 10px;
                overflow: hidden;
                height: 76px;
                &.onlineSearchBar {
                    display: none;
                }
                .citySelector {
                    color: #80756e;
                    padding: 24px 36px 24px 24px;
                    font-size: 20px;
                    line-height: 20px;
                    position: relative;
                    &:after {
                        content: '';
                        display: inline-flex;
                        position: absolute;
                        top: 10%;
                        right: 0;
                        width: 1px;
                        height: 80%;
                        background: rgba(#80756e, 0.2); 
                    }
                    > svg {
                        width: 20px;
                        color: #80756e;
                        fill: #80756e;
                        margin-right: 12px;
                    }
                }
                .categorySelector {
                    width: 100%;
                    padding-right: 9px;
                    input {
                        padding: 24px;
                        width: 100%;
                        border: 0;
                        color: #80756e;
                        font-size: 18px;
                        line-height: 18px;
                        &::placeholder {
                            color: rgba(#80756e, 0.4);
                            font-style: italic;
                        }
                    }
                    .searchButton {
                        height: calc(100% - 18px);
                        background: #d95c26;
                        border: 1px solid #d95c26;
                        color: #fff;
                        padding: 0 24px;
                        border-radius: 10px;
                        font-size: 16px;
                        text-transform: uppercase;
                        cursor: pointer;
                        &:hover {
                            background: #fff;
                            color: #d95c26;
                        }
                    }
                }
            }
        }
    }
}