.howWorks {
    h2 {
        font-weight: $w-regular;
    }
    .content {
        > div {
            width: calc(25% - 9px);
            svg {
                color: #d95c26;
                fill: #d95c26;
                margin-top: 48px;
                margin-bottom: 24px;
            }
            > svg {
                width: 70px;
                height: 70px;
            }
            .stars {
                > svg {
                    width: 40px;
                    height: 70px;
                }
            }
            h4 {
                font-weight: $w-bold;
            }
            p {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}