@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* FONTS */

$font-primary: "Poppins", sans-serif;

/* WEIGHTS */

$w-thin: 100;
$w-light: 300;
$w-regular: 400;
$w-medium: 500;
$w-bold: 700;

/* COLORS */

$cDark: #333333;
$cDarkMenu: #555555;
$cWhite: #ffffff;

$cPrimary: #FF4600;
$cSecondary: #FF6E00;

$c-primary: $cDark;

$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$easeOutCubic: cubic-bezier(0.33, 1, 0.68, 1);