.whoAre {
    .content {
        border: 1px solid #80756e;
        border-radius: 10px;
        overflow: hidden;
        .right {
            padding: 72px 24px;
            .section {
                h4 {
                    font-size: 24px;
                    line-height: 30px;
                    font-weight: 500;
                }
                span {
                    margin-top: 12px;
                }
                a {
                    text-transform: uppercase;
                    border: 1px solid #d95c26;
                    color: #d95c26;
                    border-radius: 5px;
                    padding: 6px 12px;
                    margin-top: 12px;
                    &:hover {
                        background: #d95c26;
                        color: #fff;
                    }
                }
                &:last-child {
                    margin-top: 48px;
                }
            }
        }
    }
}