@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

@import "_variables.scss";

/* ===================================
    GENERAL
=================================== */

*,
:after,
:before {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: $font-primary;
    font-size: 20px;
    line-height: 24px;
    font-weight: $w-regular;
    color: $cDark;
    box-sizing: border-box;

    b {
        font-weight: $w-bold;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

input,
select,
textarea {
    font-family: $font-primary;
    appearance: none;
    -webkit-appearance: initial;
    border-radius: 0;
    box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: #fff;
    background-image: none;
    color: #000;
    -webkit-box-shadow: 0 0 0px 0px #fff inset;
    -webkit-text-fill-color: #000 !important;
}

textarea {
    resize: none;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;

    .flex-content {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
}

.row {
    -ms-flex-direction: row;
    flex-direction: row;
}

.column {
    -ms-flex-direction: column;
    flex-direction: column;
}

.wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.nowrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.content-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.content-center-row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.content-center-column {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.content-start {
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
}

.content-start-column {
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}

.content-start-row {
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
}

.content-end {
    -webkit-box-pack: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
}

.content-end-column {
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.space-between {
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.height-100 {
    height: 100%;
}

.width-100 {
    width: 100%;
}

.width-90 {
    width: 90%;
}

.width-80 {
    width: 80%;
}

.width-75 {
    width: 75%;
}

.width-70 {
    width: 70%;
}

.width-66 {
    width: 66.66%;
}

.width-60 {
    width: 60%;
}

.width-50 {
    width: 50%;
}

.width-40 {
    width: 40%;
}

.width-33 {
    width: 33.333%;
}

.width-30 {
    width: 30%;
}

.width-25 {
    width: 25%;
}

.width-20 {
    width: 20%;
}

.width-10 {
    width: 10%;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.display-none {
    display: none;
}

.image-background {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bg-img {
    object-fit: cover;
}

/* ===================================
    MAIN
=================================== */

main {
    // width: 100vw;
    // height: 100vh;
    overflow: hidden;
}

/* ===================================
    GENERIC
=================================== */

@import "_generic.scss";

/* ===================================
    HEADER
=================================== */

@import "_header.scss";

/* ===================================
    HERO
=================================== */

@import "_hero.scss";

/* ===================================
    HOW IT WORKS
=================================== */

@import "_howWorks.scss";

/* ===================================
    WHO ARE
=================================== */

@import "_whoAre.scss";

/* ===================================
    FOOTER
=================================== */

@import "_footer.scss";

/* ===================================
    RESPONSIVE
=================================== */

@import "_responsive.scss";