<div class="h-screen flex justify-center w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-screen">
  <div class="relative w-full">
    <div class="dark:bg-gray-700">
      <div class="flex justify-start space-x-2 p-4">
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.com/svgjs"
            width="512"
            height="512"
            x="0"
            y="0"
            viewBox="0 0 24 24"
            style="enable-background: new 0 0 512 512"
            xml:space="preserve"
            class=""
          >
            <g>
              <path
                d="M22.75 8c0-1.52-1.23-2.75-2.75-2.75S17.25 6.48 17.25 8c0 1.25.85 2.3 2 2.63V16a5.25 5.25 0 1 1-10.5 0v-1.29c3.37-.37 6-3.24 6-6.71V3c0-.96-.79-1.75-1.75-1.75h-1c-.41 0-.75.34-.75.75s.34.75.75.75h1c.14 0 .25.11.25.25v5a5.25 5.25 0 1 1-10.5 0V3c0-.14.11-.25.25-.25h1c.41 0 .75-.34.75-.75s-.34-.75-.75-.75H3c-.96 0-1.75.79-1.75 1.75v5c0 3.47 2.63 6.33 6 6.71V16c0 3.72 3.03 6.75 6.75 6.75s6.75-3.03 6.75-6.75v-5.37c1.15-.33 2-1.38 2-2.63zM20 9.25a1.25 1.25 0 1 1 0-2.5 1.25 1.25 0 0 1 0 2.5z"
                fill="#000000"
                data-original="#000000"
                class=""
              ></path>
            </g>
          </svg>
        </button>
        <span class="font-medium text-2xl"
          >Healthcare <span *ngIf="pet?.name">di {{ pet?.name }}</span></span
        >
      </div>

      <mat-tab-group class="mb-4 h-full border-b border-gray-200 dark:border-gray-700 px-6" [(selectedIndex)]="activeIndex">
        <mat-tab>
          <ng-template mat-tab-label>
            <div
              class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group"
              data-tabs-target="#librettoSanitario"
              role="tab"
              aria-controls="librettoSanitario"
              aria-selected="true"
            >
              <svg
                class="w-4 h-4 mr-2 text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"
                />
              </svg>
              Libretto Sanitario
            </div>
          </ng-template>
          <app-healthcard></app-healthcard>
        </mat-tab>

        <mat-tab isActive="true">
          <ng-template mat-tab-label>
            <div
              class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group"
              id="storiaClinica-tab"
              data-tabs-target="#storiaClinica"
              role="tab"
              aria-controls="storiaClinica"
              aria-selected="false"
            >
              <svg
                class="w-4 h-4 mr-2 text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 18 20"
              >
                <path
                  d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2Zm-3 14H5a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-4H5a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Zm0-5H5a1 1 0 0 1 0-2h2V2h4v2h2a1 1 0 1 1 0 2Z"
                />
              </svg>
              Storia Clinica
            </div>
          </ng-template>
          <app-medical-history></app-medical-history>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label class="mb-4">
            <div
              class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group"
              id="pianoTerapeutico-tab"
              data-tabs-target="#pianoTerapeutico"
              role="tab"
              aria-controls="pianoTerapeutico"
              aria-selected="false"
            >
              <svg
                class="w-4 h-4 mr-2 text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 18 20"
              >
                <path
                  d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2Zm-3 14H5a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-4H5a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Zm0-5H5a1 1 0 0 1 0-2h2V2h4v2h2a1 1 0 1 1 0 2Z"
                />
              </svg>
              Piano Terapeutico
            </div>
          </ng-template>
          <app-treatment-plan></app-treatment-plan>
        </mat-tab>
      </mat-tab-group>
      <ng-template #tabIcon let-active="active">
        <mat-icon class="example-tab-icon" [ngClass]="{ 'example-tab-icon-rotated': active }">thumb_up</mat-icon>
      </ng-template>
    </div>
  </div>
</div>
