<ng-container *ngIf="!isInlineInput; else showMe">
  <label for="street-address" class="block text-sm font-medium leading-6 text-gray-900"><ng-content
      [select]="title"></ng-content></label>
  <ng-content select="subtitle"></ng-content>
  <div class="mt-2">
    <input #search type="text" name="street-address" (keydown.enter)="$event.preventDefault()" id="street-address"
      autocomplete="street-address"
      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange-label sm:text-sm sm:leading-6" />
  </div>
</ng-container>

<ng-template #showMe>
  <input #search [type]="typeInput" name="street-address" (keydown.enter)="$event.preventDefault()" id="street-address"
    autocomplete="street-address" [placeholder]="placeholderText" [class]="classInput" [value]="valueAddress"/>
  <label *ngIf="showLabel" [class]="classLabel">
    <ng-content [select]="title"></ng-content>
  </label>
</ng-template>
