<div class="mt-2">
  <label for="breed-type" class="block text-sm font-medium leading-6 text-gray-900">Fruits</label>
  <mat-chip-grid #chipGrid aria-label="Fruit selection" class="border rounded-md px-2">
    <mat-chip-row *ngFor="let fruit of fruits" (removed)="remove(fruit)">
      {{fruit}}
      <button matChipRemove [attr.aria-label]="'remove ' + fruit">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
    <input placeholder="New Fruit..." #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto"
      [matChipInputFor]="chipGrid" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)"
      class="flex-grow-1 border-0 py-1.5 text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm sm:leading-6">
  </mat-chip-grid>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
      {{fruit}}
    </mat-option>
  </mat-autocomplete>
</div>