<google-map *ngIf="true; else skeleton" class="overflow-hidden flex absolute inset-0" [center]="center!" [options]="options">
  <map-marker
    #somemarker="mapMarker"
    *ngFor="let nearMarkerFromMe of nearMarkersFromMe; let i = index"
    [position]="nearMarkerFromMe.marker.position"
    [title]="nearMarkerFromMe.marker.title"
    [options]="nearMarkerFromMe.marker.options"
    (mapClick)="openInfoWindow(somemarker, i)"
  >
    <map-info-window>
      <a
        *ngIf="nearMarkerFromMe.titleUrl"
        [href]="nearMarkerFromMe.titleUrl"
        target="_blank"
        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
      >
        {{ nearMarkerFromMe.marker.title }}
      </a>
      <p *ngIf="!nearMarkerFromMe.titleUrl">
        {{ nearMarkerFromMe.marker.title }}
      </p>
      <p class="text-blue-label">
        {{ nearMarkerFromMe.marker.label.text }}
      </p>
    </map-info-window>
  </map-marker>
</google-map>
<ng-template #skeleton>
  <div role="status" class="flex items-center justify-center h-full w-full bg-gray-300 rounded-lg animate-pulse dark:bg-gray-700">
    <svg
      class="w-14 h-14 text-gray-200 dark:text-gray-600"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      viewBox="0 0 512 511"
      xml:space="preserve"
      fill="currentColor"
    >
      <g>
        <path
          d="m510.77 491.512-90.348-210.79a15.065 15.065 0 0 0-13.84-9.124h-57.379c23.223-40.57 42.32-85.473 42.32-123.465 0-195.649-271.046-198.035-271.046 0 0 37.992 19.097 82.894 42.32 123.465h-57.379a15.057 15.057 0 0 0-13.84 9.125L1.23 491.512c-4.25 9.914 3.032 20.988 13.84 20.988h481.86c10.785 0 18.097-11.05 13.84-20.988zM396.648 301.71l44.582 104.008c-1.394.726-146.496 76.074-147.535 76.668h-31.52c-.796-.89 5.977 5.918-92.163-92.211l54.511-27.899c11.114 14.184 18.899 23.196 20.114 24.594 6 6.906 16.73 6.895 22.722 0 2.52-2.898 33.215-38.465 63.453-85.16zM256 30.69c50.766 0 105.406 36.754 105.406 117.442 0 67.844-76.05 168.808-105.406 205.246-29.355-36.441-105.406-137.402-105.406-205.246C150.594 67.008 203.53 30.69 256 30.69zm-140.652 271.02c72.945 0 64.656.012 65.824-.023 8.48 13.097 16.996 25.32 24.918 36.195L69.988 407.539zM51.414 450.875l90.43-46.281 77.804 77.793H37.906zm307.547 31.512 94.168-48.914 20.965 48.914zm0 0"
        ></path>
        <path
          d="M301.172 136.09c0-24.906-20.266-45.172-45.172-45.172-24.91 0-45.176 20.266-45.176 45.172S231.09 181.258 256 181.258c24.906 0 45.172-20.262 45.172-45.168zm-60.23 0c0-8.305 6.753-15.059 15.058-15.059 8.3 0 15.059 6.754 15.059 15.059 0 8.3-6.758 15.055-15.059 15.055-8.305 0-15.059-6.754-15.059-15.055zm0 0"
        ></path>
      </g>
    </svg>
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>
