@media screen and (max-width: 1023px) {
  nav > button {
    padding: 12px;
    margin: 12px;
  }
}

mat-sidenav-container {
  height: calc(100vh);
}

@media screen and (max-width: 800px) {
  mat-sidenav-container {
    height: calc(100vh - 65px);
  }
}
