<div class="bg-white rounded-2xl h-full w-about">
  <div class="p-4 text-center justify-center items-center">
    <!-- first title -->
    <p class="text-2xl text-black font-bold mb-4">Informazioni di base</p>

    <!-- profile picture button -->
    <div class="relative inline-block">
      <input type="file" id="fileInput" class="hidden" accept="image/*" data-max-size="500"
        (change)="onFileSelected($event)" />
      <button type="button"
        class="text-sm bg-gray-800 rounded-full m-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600 mb-4"
        aria-expanded="false" onclick="document.getElementById('fileInput').click()">
        <img class="w-16 h-16 rounded-full max-w-none"
          [src]="user.data.imgProfile ? user.data.imgProfile : 'assets/img/user-default.png'" alt="user photo" />
      </button>
    </div>

    <!-- inputs -->
    <div class="flex px-36">
      <div class="w-1/2 p-2">
        <label class="block">
          <select
            class="mt-1 px-3 py-2.5 bg-white border-2 shadow-sm border-sprinted-orange-salmon font-sans placeholder-blue-gray-700 focus:outline-none focus:border-sprinted-orange-salmon focus:ring-sprinted-orange-salmon block w-full rounded-md sm:text-sm focus:ring-1">
            <option value="">Dott.</option>
          </select>
        </label>
      </div>
      <div class="w-1/2 p-2">
        <select type="text"
          class="mt-1 px-3 py-2.5 bg-white border-2 shadow-sm border-sprinted-orange-salmon font-sans placeholder-blue-gray-700 focus:outline-none focus:border-sprinted-orange-salmon focus:ring-sprinted-orange-salmon block w-full rounded-md sm:text-sm focus:ring-1">
          <option value="">Veterinario Zootecnico</option>
        </select>
      </div>
    </div>

    <div class="flex px-36">
      <div class="w-1/2 p-2">
        <label class="block">
          <input type="text" [value]="user.data.username"
            class="mt-1 px-3 py-2.5 bg-white border-2 shadow-sm border-sprinted-orange-salmon font-sans placeholder-blue-gray-700 focus:outline-none focus:border-sprinted-orange-salmon focus:ring-sprinted-orange-salmon block w-full rounded-md sm:text-sm focus:ring-1"
            placeholder="Gioacchino" />
        </label>
      </div>
      <div class="w-1/2 p-2">
        <input type="text" [value]="user.data.username"
          class="mt-1 px-3 py-2.5 bg-white border-2 shadow-sm border-sprinted-orange-salmon font-sans placeholder-blue-gray-700 focus:outline-none focus:border-sprinted-orange-salmon focus:ring-sprinted-orange-salmon block w-full rounded-md sm:text-sm focus:ring-1"
          placeholder="gloak2307" />
      </div>
    </div>

    <div class="flex px-36">
      <div class="w-1/2 p-2">
        <label class="block">
          <input type="text" [value]="user.data.username"
            class="mt-1 px-3 py-2.5 bg-white border-2 shadow-sm border-sprinted-orange-salmon font-sans placeholder-blue-gray-700 focus:outline-none focus:border-sprinted-orange-salmon focus:ring-sprinted-orange-salmon block w-full rounded-md sm:text-sm focus:ring-1"
            placeholder="Monè" />
        </label>
      </div>
      <div class="w-1/2 p-2">
        <input type="text"
          class="mt-1 px-3 py-2.5 bg-white border-2 shadow-sm border-sprinted-orange-salmon font-sans placeholder-blue-gray-700 focus:outline-none focus:border-sprinted-orange-salmon focus:ring-sprinted-orange-salmon block w-full rounded-md sm:text-sm focus:ring-1"
          placeholder="Password" />
      </div>
    </div>

    <div class="flex px-36">
      <div class="w-1/2 p-2">
        <label class="block">
          <input type="text"
            class="mt-1 px-3 py-2.5 bg-white border-2 shadow-sm border-sprinted-orange-salmon font-sans placeholder-blue-gray-700 focus:outline-none focus:border-sprinted-orange-salmon focus:ring-sprinted-orange-salmon block w-full rounded-md sm:text-sm focus:ring-1"
            placeholder="23/07/1998" />
        </label>
      </div>
      <div class="w-1/2 p-2">
        <input type="text"
          class="mt-1 px-3 py-2.5 bg-white border-2 shadow-sm border-sprinted-orange-salmon font-sans placeholder-blue-gray-700 focus:outline-none focus:border-sprinted-orange-salmon focus:ring-sprinted-orange-salmon block w-full rounded-md sm:text-sm focus:ring-1"
          placeholder="Ripeti Password" />
      </div>
    </div>

    <!-- update button -->
    <button class="bg-button-orange text-white px-2 py-1 mt-4 mb-4 rounded-full">Aggiorna</button>

    <!-- second title -->
    <p class="text-2xl text-black font-bold mb-4">Orari e disponibilità</p>

    <!-- inputs -->
    <div class="flex">
      <div class="flex w-1/2 p-2">
        <div class="w-8/12 p-2">
          <p class="text-2xl text-black font-medium text-left flex items-center h-full">Durata slot</p>
        </div>
        <div class="w-3/12 p-2">
          <p class="bg-blue-badge text-white px-2 py-1 rounded-lg">30 min</p>
        </div>
        <div class="w-1/12 p-2">
          <button class="bg-blue-badge text-white px-2 py-1 rounded-lg">I</button>
        </div>
      </div>
    </div>

    <div class="flex">
      <div class="flex w-1/2 p-2">
        <div class="w-6/12 p-2">
          <p class="text-2xl text-black font-medium text-left flex items-center h-full">Disponibilità</p>
        </div>
        <div class="w-5/12 p-2">
          <p class="bg-green-badge text-white px-2 py-1 rounded-lg">LUN - VEN | 8.30 - 18.00</p>
        </div>
        <div class="w-1/12 p-2">
          <button class="bg-green-badge text-white px-2 py-1 rounded-lg">I</button>
        </div>
      </div>
    </div>

    <div class="flex">
      <div class="flex w-1/2 p-2">
        <div class="w-8/12 p-2">
          <p class="text-2xl text-black font-medium text-left flex items-center h-full">Durata slot</p>
        </div>
        <div class="w-3/12 p-2">
          <p class="bg-red-badge text-white px-2 py-1 rounded-lg">30 min</p>
        </div>
        <div class="w-1/12 p-2">
          <button class="bg-red-badge text-white px-2 py-1 rounded-lg">I</button>
        </div>
      </div>
    </div>

    <div class="flex">
      <div class="flex w-1/2 p-2">
        <div class="w-8/12 p-2">
        </div>
        <div class="w-3/12 p-2">
        </div>
        <div class="w-1/12 p-2">
          <button class="bg-red-badge text-white px-2 py-1 rounded-lg">+</button>
        </div>
      </div>
    </div>
  </div>
</div>