.modal-button {
  display: inline-block;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: red;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  margin: 0.3125em;
  padding: 0.625em 1.1em;
  transition: box-shadow .1s;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0);
  font-weight: 500;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modal-button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.modal-button:active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.modal-button-cancel {
  display: inline-block;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: gray;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  margin: 0.3125em;
  padding: 0.625em 1.1em;
  transition: box-shadow .1s;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0);
  font-weight: 500;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modal-button-cancel:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.modal-button-cancel:active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

@media screen and (max-width: 767px) {
  .dashboardHomeContainer > div {
    height: auto;
  }
  .dashboardHomeContainer > div > div > div.bg-white {
    height: auto;
  }
}