<div
  class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-4 mb-4 rounded-2xl overflow-hidden"
>
  <!-- Prossimi appuntamenti -->
  <div class="bg-white rounded-2xl h-48 md:h-72">
    <div class="mx-auto p-4 mb-4 space-y-10">
      <div class="flex justify-between">
        <div class="flex space-x-4 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="29"
            viewBox="0 0 26 29"
            fill="none"
          >
            <path
              d="M21.75 3.625H19.4844V1.35938C19.4844 0.608887 18.8755 0 18.125 0C17.3745 0 16.7656 0.608887 16.7656 1.35938V3.625H8.60938V1.35938C8.60938 0.608887 8.00049 0 7.25 0C6.49951 0 5.89062 0.608887 5.89062 1.35938V3.625H3.625C1.62298 3.625 0 5.24787 0 7.25V25.375C0 27.3771 1.62298 29 3.625 29H21.75C23.752 29 25.375 27.3771 25.375 25.375V7.25C25.375 5.24787 23.752 3.625 21.75 3.625ZM21.75 26.2812H3.625C3.12532 26.2812 2.71875 25.8748 2.71875 25.375V10.875H22.6562V25.375C22.6562 25.8748 22.2497 26.2812 21.75 26.2812Z"
              fill="#3495BF"
            />
          </svg>
          <p class="text-cyan-label">Prossimi appuntamenti</p>
        </div>
        <button
          [routerLink]="['/private/prenotazioni']"
          class="bg-cyan-label py-0 px-4 rounded-full text-white font-bold text-sm"
        >
          Espandi
        </button>
      </div>
      <div>
        <div class="flex space-x-4 items-center">
          <input type="checkbox" class="w-4 h-4 rounded-full" />

          <small class="text-sm text-slate-400"> 25 Giu:</small>
          <p class="text-sm text-blue-label font-semibold">
            Visita Dott.ssa Zara Golimbella
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Healthcare -->
  <div class="bg-white rounded-2xl h-48 md:h-72">
    <div class="mx-auto p-4 mb-4 space-y-10">
      <div class="flex justify-between">
        <div class="flex space-x-4 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="29"
            viewBox="0 0 30 29"
            fill="none"
          >
            <path
              d="M25.4317 6.34403C22.9235 6.34403 20.8903 8.37278 20.8903 10.8755C20.8903 12.7356 22.0157 14.33 23.6223 15.0281V19.4841C23.6223 22.7268 20.7697 25.3749 17.2643 25.3749C13.8583 25.3749 11.0625 22.8755 10.9135 19.7531C15.0433 18.9035 18.1655 15.25 18.1655 10.8744V2.0735C18.1655 1.42922 17.7043 0.862814 17.0727 0.742453L13.4964 0.0272534C12.7584 -0.121428 12.0488 0.35305 11.8998 1.08938L11.7153 1.98146C11.5663 2.71779 12.0488 3.43299 12.7868 3.58167L14.5253 3.92151V10.8036C14.5253 13.7985 12.134 16.2767 9.12533 16.305C6.09538 16.3333 3.62601 13.8906 3.62601 10.8673V3.92859L5.3716 3.58167C6.10957 3.44007 6.585 2.72487 6.43598 1.98854L6.25858 1.09646C6.11667 0.36013 5.39998 -0.114348 4.66201 0.0343334L1.09277 0.735373C0.461234 0.862814 0 1.42214 0 2.0735V10.8744C0 15.25 3.12929 18.9177 7.2733 19.7531C7.42231 24.8793 11.8431 29 17.2572 29C22.7637 29 27.2483 24.7306 27.2483 19.4841V15.0243C28.8509 14.3244 29.9731 12.7327 29.9731 10.8755C29.9731 8.37278 27.9399 6.34403 25.4317 6.34403ZM25.4317 12.2344C24.6793 12.2344 24.0693 11.6258 24.0693 10.875C24.0693 10.1243 24.6793 9.51567 25.4317 9.51567C26.1841 9.51567 26.7941 10.1243 26.7941 10.875C26.7941 11.6258 26.1841 12.2344 25.4317 12.2344Z"
              fill="#2C4FA3"
            />
          </svg>
          <p class="text-blue-label">Healthcare</p>
        </div>
        <button
          class="bg-blue-label py-0 px-4 rounded-full text-white font-bold text-sm"
        >
          Espandi
        </button>
      </div>
      <div>
        <div class="flex space-x-4 items-center">
          <input type="checkbox" class="w-4 h-4 rounded-full" />

          <small class="text-sm text-slate-400"> Vaccinazione:</small>
          <p class="text-sm text-blue-label font-semibold">Non necessaria</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Id Card -->
  <div class="bg-white rounded-2xl h-48 md:h-72">
    <div class="mx-auto p-4 mb-4 space-y-10">
      <div class="flex justify-between">
        <div class="flex space-x-4 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="38"
            height="29"
            viewBox="0 0 38 29"
            fill="none"
          >
            <path
              d="M22.753 20.7143H31.0269C31.5983 20.7143 32.0611 20.2508 32.0611 19.6786C32.0611 19.1063 31.5983 18.6429 31.0269 18.6429H22.753C22.1816 18.6429 21.7188 19.1063 21.7188 19.6786C21.7188 20.2508 22.1816 20.7143 22.753 20.7143ZM33.0953 0H4.13692C1.85192 0 0 1.85458 0 4.14286V24.8571C0 27.1454 1.85192 29 4.13692 29H33.0953C35.3803 29 37.2323 27.1454 37.2323 24.8571V4.14286C37.2323 1.85458 35.3803 0 33.0953 0ZM35.1638 24.8571C35.1638 25.999 34.2362 26.9286 33.0953 26.9286H4.13692C2.99603 26.9286 2.06846 25.999 2.06846 24.8571V6.21429H35.1638V24.8571ZM2.06846 4.14286C2.06846 3.00098 2.99603 2.07143 4.13692 2.07143H33.0953C34.2362 2.07143 35.1638 3.00098 35.1638 4.14286H2.06846ZM22.753 12.4286H31.0269C31.5983 12.4286 32.0611 11.9651 32.0611 11.3929C32.0611 10.8206 31.5983 10.3571 31.0269 10.3571H22.753C22.1816 10.3571 21.7188 10.8206 21.7188 11.3929C21.7188 11.9651 22.1816 12.4286 22.753 12.4286ZM22.753 16.5714H31.0269C31.5983 16.5714 32.0611 16.1079 32.0611 15.5357C32.0611 14.9635 31.5983 14.5 31.0269 14.5H22.753C22.1816 14.5 21.7188 14.9635 21.7188 15.5357C21.7188 16.1079 22.1816 16.5714 22.753 16.5714Z"
              fill="#E82525"
            />
            <path
              d="M15.1193 15.2515C16.8426 15.2515 18.2382 13.854 18.2382 12.1282H16.4108C16.4005 12.0344 16.3966 11.9437 16.3759 11.8492C16.1186 10.7196 15.2066 9.79592 14.0754 9.5344C13.8246 9.47873 13.5777 9.4509 13.3372 9.4509C11.6139 9.4509 10.2183 10.8485 10.2183 12.5742L10.2171 15.0282H8.55195C7.88035 15.0282 6.8487 14.7311 6.47379 14.3356C6.16805 14.0113 5.70523 13.9084 5.29412 14.0741C4.88431 14.2372 4.61994 14.6269 4.61994 15.0658C4.61994 17.5851 6.67288 19.7135 9.10203 19.7135C9.47112 19.7135 9.7704 19.4138 9.7704 19.0442C9.7704 18.6746 9.47112 18.3749 9.10203 18.3749C7.58947 18.3749 6.28505 17.1819 6.00968 15.66C6.74722 16.1222 7.78468 16.3669 8.55259 16.3669H10.8861C11.2552 16.3669 11.5544 16.0672 11.5544 15.6975L11.5557 12.5742C11.5557 11.5909 12.3566 10.7896 13.3378 10.7896C13.4839 10.7896 13.63 10.807 13.7761 10.842C14.4096 10.985 14.928 11.5113 15.0708 12.1457C15.29 13.1219 14.7399 13.8715 14.0999 14.1776L13.3378 14.5401L13.3366 16.7825C13.9681 17.2336 14.2971 17.9567 14.215 18.718C14.1006 19.7582 13.1523 20.6055 12.1013 20.6055H8.50218C5.90755 20.6055 3.72404 18.6105 3.53206 16.0646C3.50426 15.6963 3.18559 15.4354 2.81521 15.4477C2.44741 15.4755 2.1714 15.7972 2.19919 16.1656C2.44353 19.4054 5.21203 21.9442 8.50218 21.9442H12.1013C13.8414 21.9442 15.3533 20.5919 15.544 18.863C15.6513 17.8667 15.3287 16.9171 14.6746 16.1986V15.2515H15.12H15.1193ZM13.7826 12.5742C13.7826 12.3269 13.5841 12.1282 13.3372 12.1282C13.0903 12.1282 12.8918 12.3269 12.8918 12.5742C12.8918 12.8215 13.0903 13.0202 13.3372 13.0202C13.5841 13.0202 13.7826 12.8215 13.7826 12.5742Z"
              fill="#E82525"
            />
          </svg>
          <p class="text-red-label">ID Card</p>
        </div>
        <button
          class="bg-red-label py-0 px-4 rounded-full text-white font-bold text-sm"
        >
          Espandi
        </button>
      </div>
      <div>
        <div class="flex space-x-4 items-center">
          <input type="checkbox" class="w-4 h-4 rounded-full" />

          <small class="text-sm text-slate-400"> Razza:</small>
          <p class="text-sm text-red-label font-semibold">Cocorita</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Appunti e Documenti -->
  <div class="bg-white rounded-2xl h-48 md:h-72">
    <div class="mx-auto p-4 mb-4 space-y-10">
      <div class="flex justify-between">
        <div class="flex space-x-4 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="29"
            height="29"
            viewBox="0 0 29 29"
            fill="none"
          >
            <g clip-path="url(#clip0_111_1299)">
              <path
                d="M28.4691 12.1565L24.0934 7.78101C23.7534 7.44094 23.2924 7.25 22.8118 7.25H16.3125C14.3105 7.25 12.6875 8.87287 12.6875 10.875V25.375C12.6875 27.3769 14.3105 29 16.3125 29H25.375C27.377 29 29 27.3769 29 25.375V13.4382C29 12.9574 28.8091 12.4966 28.4691 12.1565ZM23.5625 9.81321L26.4368 12.6875H23.5625V9.81321ZM27.1875 25.375C27.1875 26.376 26.3761 27.1875 25.375 27.1875H16.3125C15.3114 27.1875 14.5 26.376 14.5 25.375V10.875C14.5 9.87405 15.3114 9.0625 16.3125 9.0625H21.75V12.6875C21.75 13.6885 22.5614 14.5 23.5625 14.5H27.1875V25.375ZM14.5398 3.62545C15.2965 3.64182 15.9407 4.12412 16.1956 4.79672C16.3444 5.18924 16.7346 5.4375 17.1547 5.4375C17.7236 5.4375 18.1278 4.88214 17.9552 4.33986C17.4891 2.87627 16.1167 1.8125 14.5 1.8125C13.8717 1.8125 13.3939 2.45016 13.6775 3.1141C13.82 3.44777 14.1771 3.61747 14.5398 3.62545ZM11.7812 3.625H11.6143C11.7159 3.34004 11.7812 3.03803 11.7812 2.71875C11.7812 1.21953 10.5616 0 9.0625 0C7.56339 0 6.34375 1.21953 6.34375 2.71875C6.34375 3.03803 6.40911 3.34004 6.51067 3.625H6.34375C5.84282 3.625 5.4375 4.03032 5.4375 4.53125C5.4375 5.03218 5.84282 5.4375 6.34375 5.4375H11.7812C12.2822 5.4375 12.6875 5.03218 12.6875 4.53125C12.6875 4.03032 12.2822 3.625 11.7812 3.625ZM9.0625 3.625C8.56202 3.625 8.15625 3.21923 8.15625 2.71875C8.15625 2.21827 8.56202 1.8125 9.0625 1.8125C9.56309 1.8125 9.96875 2.21827 9.96875 2.71875C9.96875 3.21923 9.56309 3.625 9.0625 3.625ZM10.0369 23.5625H3.625C2.62393 23.5625 1.8125 22.751 1.8125 21.75V5.53419C1.8125 4.54297 2.62031 3.61039 3.61141 3.625C4.17492 3.63321 4.62187 3.12826 4.51556 2.54707C4.43598 2.1123 4.02624 1.80786 3.58428 1.81273C1.60372 1.83465 0 3.45287 0 5.4375V21.75C0 23.7519 1.62298 25.375 3.625 25.375H10.0369C10.4998 25.375 10.875 24.9998 10.875 24.5369V24.4006C10.875 23.9377 10.4998 23.5625 10.0369 23.5625Z"
                fill="#FFB908"
              />
            </g>
            <defs>
              <clipPath id="clip0_111_1299">
                <rect width="29" height="29" fill="white" />
              </clipPath>
            </defs>
          </svg>
          <p class="text-yellow-label">Appunti e Documenti</p>
        </div>
        <button
          [routerLink]="['/private/note']"
          class="bg-yellow-label py-0 px-4 rounded-full text-white font-bold text-sm"
        >
          Espandi
        </button>
      </div>
      <div>
        <div class="flex space-x-4 items-center">
          <input type="checkbox" class="w-4 h-4 rounded-full" />

          <small class="text-sm text-slate-400"> Nota:</small>
          <p class="text-sm text-yellow-label font-semibold">
            Appunti comportamento
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Mappa lista -->
<div
  class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 rounded-2xl overflow-hidden gap-0 mb-4"
>
  <div class="h-48 md:h-72 bg-white">
    <div class="mx-auto p-4 mb-4 space-y-10">
      <div class="flex space-x-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="19"
          height="29"
          viewBox="0 0 19 29"
          fill="none"
        >
          <path
            d="M9.0625 0C4.55793 0 0.90625 3.65168 0.90625 8.15625C0.90625 12.3504 4.08402 15.7649 8.15625 16.2211V28.0938C8.15625 28.5947 8.56157 29 9.0625 29C9.56343 29 9.96875 28.5947 9.96875 28.0938V16.2211C14.041 15.7649 17.2188 12.3504 17.2188 8.15625C17.2188 3.65168 13.5671 0 9.0625 0ZM9.0625 14.5C5.56449 14.5 2.71875 11.6543 2.71875 8.15625C2.71875 4.65824 5.56449 1.8125 9.0625 1.8125C12.5605 1.8125 15.4062 4.65824 15.4062 8.15625C15.4062 11.6543 12.5605 14.5 9.0625 14.5ZM9.0625 3.625C6.56414 3.625 4.53125 5.65698 4.53125 8.15625C4.53125 8.65718 4.93657 9.0625 5.4375 9.0625C5.93843 9.0625 6.34375 8.65718 6.34375 8.15625C6.34375 6.65703 7.56328 5.4375 9.0625 5.4375C9.56343 5.4375 9.96875 5.03218 9.96875 4.53125C9.96875 4.03032 9.56343 3.625 9.0625 3.625Z"
            fill="#1CBD39"
          />
        </svg>
        <p class="text-green-label">Intorno a me</p>
      </div>
      <div>
        <div class="flex space-x-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="17"
            viewBox="0 0 14 17"
            fill="none"
          >
            <path
              d="M7 1.50096C7.66304 1.50096 8.29893 1.76452 8.76777 2.23366C9.23661 2.70281 9.5 3.3391 9.5 4.00256C9.5 4.66603 9.23661 5.30232 8.76777 5.77146C8.29893 6.24061 7.66304 6.50417 7 6.50417C6.33696 6.50417 5.70107 6.24061 5.23223 5.77146C4.76339 5.30232 4.5 4.66603 4.5 4.00256C4.5 3.3391 4.76339 2.70281 5.23223 2.23366C5.70107 1.76452 6.33696 1.50096 7 1.50096ZM3 4.00256C3 5.06411 3.42143 6.08218 4.17157 6.8328C4.92172 7.58343 5.93913 8.00513 7 8.00513C8.06087 8.00513 9.07828 7.58343 9.82843 6.8328C10.5786 6.08218 11 5.06411 11 4.00256C11 2.94102 10.5786 1.92295 9.82843 1.17232C9.07828 0.421698 8.06087 0 7 0C5.93913 0 4.92172 0.421698 4.17157 1.17232C3.42143 1.92295 3 2.94102 3 4.00256ZM5 11.0383C5.1625 11.0164 5.33125 11.0071 5.5 11.0071H8.5C8.66875 11.0071 8.8375 11.0164 9 11.0383V12.5706C8.1375 12.7926 7.5 13.5774 7.5 14.5093V15.5099C7.5 15.7851 7.725 16.0103 8 16.0103H8.75C9.025 16.0103 9.25 15.7851 9.25 15.5099C9.25 15.2348 9.025 15.0096 8.75 15.0096H8.5V14.5093C8.5 13.9558 8.94687 13.5087 9.5 13.5087C10.0531 13.5087 10.5 13.9558 10.5 14.5093V15.0096H10.25C9.975 15.0096 9.75 15.2348 9.75 15.5099C9.75 15.7851 9.975 16.0103 10.25 16.0103H11C11.275 16.0103 11.5 15.7851 11.5 15.5099V14.5093C11.5 13.5774 10.8625 12.7926 10 12.5706V11.2979C11.4656 11.892 12.5 13.3304 12.5 15.0096V15.2598C12.5 15.6757 12.8344 16.0103 13.25 16.0103C13.6656 16.0103 14 15.6757 14 15.2598V15.0096C14 11.9702 11.5375 9.50609 8.5 9.50609H5.5C2.4625 9.50609 0 11.9702 0 15.0096V15.2598C0 15.6757 0.334375 16.0103 0.75 16.0103C1.16562 16.0103 1.5 15.6757 1.5 15.2598V15.0096C1.5 13.3304 2.53437 11.892 4 11.2979V12.5799C3.27813 12.7957 2.75 13.4649 2.75 14.2591C2.75 15.2254 3.53437 16.0103 4.5 16.0103C5.46562 16.0103 6.25 15.2254 6.25 14.2591C6.25 13.4649 5.72188 12.7957 5 12.5799V11.0383ZM4.5 13.5087C4.69891 13.5087 4.88968 13.5877 5.03033 13.7285C5.17098 13.8692 5.25 14.0601 5.25 14.2591C5.25 14.4582 5.17098 14.6491 5.03033 14.7898C4.88968 14.9305 4.69891 15.0096 4.5 15.0096C4.30109 15.0096 4.11032 14.9305 3.96967 14.7898C3.82902 14.6491 3.75 14.4582 3.75 14.2591C3.75 14.0601 3.82902 13.8692 3.96967 13.7285C4.11032 13.5877 4.30109 13.5087 4.5 13.5087Z"
              fill="#ABABAB"
            />
          </svg>
          <small class="text-sm text-slate-400"> 0.1km</small>
          <p class="text-sm text-green-label font-semibold">
            Dott.ssa Valeria Simpliani
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="h-48 md:h-72 relative">
    <google-map class="overflow-hidden flex absolute inset-0"></google-map>
  </div>
</div>
