<div *ngIf="showModal" class="fixed inset-0 z-50 flex items-center justify-center bg-opacity-50">
  <div class="mx-auto max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl">
    <div class="bg-white rounded-lg shadow-lg">
      <div class="p-4 sm:p-6">
        <div class="flex justify-center items-center"> <!-- Contenedor para centrar la imagen -->
          <img src="{{modalImage}}" alt="">
        </div>
        <h2 class="text-xl sm:text-2xl font-semibold text-center">{{ modalTitle }}</h2>
        <div class="text-center">{{modalMessage}}</div>
        <div class="mt-4 flex justify-center">
          <ng-content #messageModal></ng-content>
          <ng-content #deleteModal></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
