<div>
  <div class="w-full flex justify-end px-4">
    <button
      type="button"
      (click)="openFormModal()"
      class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-blue-label text-white rounded-full border border-gray-200 hover:bg-white hover:text-blue-label border-blue-label focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
    >
      +
    </button>
  </div>
  <cdk-accordion class="flex flex-col justify-center m-auto">
    <cdk-accordion-item
      *ngFor="let medicalHistorie of medicalHistories; let index = index"
      #accordionItem="cdkAccordionItem"
      class="border-0"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index"
      (opened)="medicalHistorie.isOpenAccordion = true"
      (closed)="medicalHistorie.isOpenAccordion = false"
    >
      <div class="border-0" (click)="accordionItem.toggle()">
        <h2>
          <button
            type="button"
            class="flex items-center justify-between w-full py-5 font-medium text-left text-gray-500 border border-0 rounded-xl"
            data-accordion-target="#accordion-collapse-body-1"
            aria-expanded="true"
            aria-controls="accordion-collapse-body-1"
          >
            <div class="flex">
              <div class="rounded-full border-2 p-2 border-blue-label m-auto mr-2">
                <img [src]="medicalHistorie.icon" class="w-5 h-5" alt="" />
              </div>
              <div class="flex flex-col">
                <p class="text-start text-base text-blue-label font-medium leading-8">
                  {{
                    medicalHistorie.detail?.medicalExamination?.typeOfVisit || (medicalHistorie.detail?.prescription?.tipologyOfPrescription ?? '')
                      | capitalize
                  }}
                </p>
                <p class="text-sm">
                  {{ medicalHistorie.createdAt | date : 'longDate' }}
                </p>
              </div>
            </div>
            <svg
              *ngIf="!medicalHistorie.isOpenAccordion"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5 text-blue-label"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
            </svg>
            <svg
              *ngIf="medicalHistorie.isOpenAccordion"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5 text-blue-label"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>
          </button>
        </h2>
      </div>
      <div
        class="bg-[#1F388226] m-1 rounded-xl"
        role=" region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index"
      >
        <div id="accordion-collapse-body-1" aria-labelledby="">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
            <div class="flex w-full justify-center">
              <h2 class="font-bold text-base text-blue-label">
                {{
                  medicalHistorie.detail?.medicalExamination?.typeOfVisit || medicalHistorie.detail?.prescription?.tipologyOfPrescription ?? ''
                    | capitalize
                }}
              </h2>
            </div>
            <table class="text-xs my-3">
              <tbody>
                <tr>
                  <td class="px-2 py-2 text-gray-500 font-semibold">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
                      />
                    </svg>
                  </td>
                  <td class="px-2 py-2">{{ medicalHistorie.detail?.medicalExamination?.vet || medicalHistorie.detail?.prescription?.vet }}</td>
                </tr>
                <tr *ngIf="medicalHistorie.detail?.medicalExamination?.vetClinic">
                  <td class="px-2 py-2 text-gray-500 font-semibold">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
                      />
                    </svg>
                  </td>
                  <td class="px-2 py-2">{{ medicalHistorie.detail?.medicalExamination?.vetClinic }}</td>
                </tr>
                <tr>
                  <td class="px-2 py-2 text-gray-500 font-semibold">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5"
                      />
                    </svg>
                  </td>
                  <td class="px-2 py-2">
                    {{ medicalHistorie.createdAt | date : 'dd/MM/yyyy-HH:mm' }}
                  </td>
                </tr>
                <tr>
                  <td class="px-2 py-2 text-gray-500 font-semibold">Note</td>
                  <td class="px-2 py-2">{{ medicalHistorie.detail?.medicalExamination?.note }}</td>
                </tr>
              </tbody>
            </table>
            <!-- <ng-container *ngIf="healthCard.recall?.dateOfRecall">
                <h3 class="text-center text-xl text-gray-900 font-medium leading-8">Richiamo</h3>
                <table class="text-xs my-3">
                  <tbody>
                    <tr>
                      <td class="px-2 py-2 text-gray-500 font-semibold">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                          stroke="currentColor" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round"
                            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5" />
                        </svg>
                      </td>
                      <td class="px-2 py-2">
                        {{ healthCard.recall?.dateOfRecall | date : 'dd/MM/yyyy-HH:mm' }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </ng-container> -->
            <div class="text-center my-3">
              <button
                (click)="editCurrentMedicalHistory(medicalHistorie)"
                class="text-xs text-white font-bold bg-blue-label py-2 px-3 rounded-full hover:text-blue-label hover:bg-white"
              >
                Modifica
              </button>
            </div>
          </div>
        </div>
      </div>
    </cdk-accordion-item>
  </cdk-accordion>
</div>

<app-form-medical-history
  [showModal]="showModalCreate"
  [medicalHistoryToEdit]="currentMedicalHistory"
  (closeModalAction)="closeFormModal($event)"
></app-form-medical-history>
