<div class="relative flex-auto p-6">
  <div class="flex justify-end">
    <button (click)="closeModal()">
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
        <path
          d="M13.17 0.314649C13.5884 -0.104883 14.2678 -0.104883 14.6862 0.314649C15.1046 0.734181 15.1046 1.4155 14.6862 1.83503L9.01623 7.51717L14.6829 13.2027C15.1012 13.6222 15.1012 14.3035 14.6829 14.7231C14.2645 15.1426 13.585 15.1426 13.1666 14.7231L7.5 9.03755L1.83002 14.7197C1.41164 15.1392 0.732177 15.1392 0.31379 14.7197C-0.104597 14.3002 -0.104597 13.6188 0.31379 13.1993L5.98377 7.51717L0.317137 1.83168C-0.10125 1.41214 -0.10125 0.734181 0.317137 0.314649C0.735524 -0.104883 1.41498 -0.104883 1.83337 0.314649L7.5 5.99679L13.17 0.314649Z"
          fill="#80756E" />
      </svg>
    </button>
  </div>
  <div class="flex justify-center gap-4 h-full px-4" *ngIf="showModal">
    <ng-container *ngFor="let item of items">
      <button
        class="w-1/2 h-36 justify-center bg-sprinted-orange-salmon rounded-lg m-6 flex flex-col items-center p-4 border border-sprinted-orange-text hover:bg-gray-100"
        (click)="selectedTypeValue.emit(item.type)">
        <img [src]="item.icon" class="w-8 h-8" alt="" />
        <p class="text-sprinted-orange-text font-medium">{{ item.title }}</p>
      </button>
    </ng-container>
  </div>
</div>