<div class="home">
  <header id="header" class="width-100 flex row wrap fixed !z-10">
    <ul class="header-top width-100 flex row wrap content-end">
      <div class="width-100 flex row wrap content-end container">
        <li class="flex row wrap">
          <a (click)="showModalMessage()" class="flex-content row wrap">Registrati come Medico Veterinario o specialista</a>
        </li>
        <li class="flex row wrap"><a (click)="showModalAiutoMessage()" class="flex-content row wrap">Aiuto</a></li>
      </div>
    </ul>
    <div class="header-content width-100 flex row wrap space-between content-center-column container relative">
      <div class="headerLeft">
        <svg
          class="logo"
          width="379"
          height="127"
          viewBox="0 0 379 127"
          fill="none"
          preserveAspectRatio="xMinYMin meet"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M9.91001 82.88C8.72001 85.78 6.91001 88.39 5.30001 91.09C4.99001 91.61 4.69001 92.13 4.39001 92.66" fill="#ED7838" />
          <path
            d="M23.3001 65.83C23.3001 66.35 21.5901 66.66 20.6901 67.18C19.7901 66.66 18.0801 66.35 18.0801 65.83C18.0801 64.6 23.3001 64.86 23.3001 65.86"
            fill="#ED7838"
          />
          <path
            d="M4.39001 92.6601C5.15001 98.9701 12.73 94.6901 15.5 99.6201C15.99 100.49 15.78 97.7301 16.88 98.6901C18.25 99.8901 17.33 97.39 18.04 97.84C19.76 98.9501 19.44 96.9001 16.64 94.9001C13.64 92.7501 8.58001 90.2901 9.92001 82.8701"
            fill="#ED7838"
          />
          <path
            d="M20.6901 67.1801C20.6901 69.9201 18.5801 70.5101 16.7101 69.1001C16.7101 69.1001 20.6901 73.8701 24.6601 69.1001C22.8001 70.5101 20.6801 69.9201 20.6801 67.1801H20.6901Z"
            fill="#ED7838"
          />
          <path
            d="M71.18 75.19C62.94 61.67 41.85 54.87 38.19 39.6C35.14 26.86 41.31 15.77 51.95 11.4C50.06 13.53 48.91 16.34 48.91 19.41C48.91 26.09 54.32 31.5 61 31.5C67.68 31.5 73.09 26.09 73.09 19.41C73.09 15.65 71.38 12.3 68.69 10.08C37.2 -17.08 -11.68 15.09 4.03003 53.8C4.71003 55.48 5.60003 57.13 6.64003 58.74C7.37003 56.82 8.23003 54.89 8.50003 52.89C8.83003 50.5 8.29003 48.06 8.57003 45.66C8.68003 44.74 8.90003 43.86 9.21003 43C10 40.82 13.22 41.3 13.39 43.61C13.48 44.83 13.68 46.04 13.99 47.22C14.11 47.66 14.57 47.94 15.01 47.83C17.01 47.34 19.07 46.92 21.12 46.89C23.1 46.86 25.22 47.33 27.24 47.83C27.68 47.94 28.14 47.67 28.26 47.23C28.57 46.05 28.77 44.84 28.86 43.62C29.02 41.31 32.25 40.83 33.04 43.01C33.35 43.86 33.57 44.75 33.68 45.67C33.96 48.07 33.42 50.51 33.75 52.9C34.33 57.1 37.52 61.02 36.52 65.14C35.82 68 33.27 70.01 32.01 72.68C30.59 75.69 30.97 79.28 32.15 82.39C32.22 82.58 32.31 82.77 32.39 82.96L32.36 82.9C33.7 90.31 28.64 92.78 25.64 94.93C22.84 96.93 22.52 98.98 24.24 97.87C24.94 97.42 24.03 99.92 25.4 98.72C26.5 97.76 26.29 100.52 26.78 99.65C29.54 94.72 37.12 99 37.88 92.69C41.28 98.78 43.65 105.64 42.82 112.52C42.19 117.69 39.76 122.42 36.28 126.32C72.86 127.58 86.68 100.63 71.18 75.21V75.19ZM37.65 92.26C37.68 92.31 37.71 92.37 37.74 92.42L37.65 92.26Z"
            fill="#ED7838"
          />
          <path
            d="M29.78 110.07L30.53 109.32C31 108.85 30.96 108.08 30.45 107.66C25.91 103.97 19.27 104.13 14.9 108.12C13.69 106.79 11.54 106.56 9.98997 107.48C9.67997 107.67 9.62997 108.1 9.87997 108.36C10.1 108.58 10.37 108.85 10.59 109.07C10.8 109.28 11.13 109.28 11.36 109.09C12.09 108.47 13.24 108.4 14.09 108.94C10.13 113.31 9.97997 119.93 13.66 124.45C14.08 124.96 14.85 125 15.32 124.53L16.07 123.78C19.49 127.2 24.84 127.53 28.63 124.76C29.03 124.47 30.1 124.82 30.46 124.46C30.82 124.1 30.46 123.03 30.76 122.63C33.53 118.84 33.2 113.49 29.78 110.07Z"
            fill="#ED7838"
          />
          <path
            d="M104.09 93.69C104.79 97.07 108.46 100.1 113.52 100.1C118.88 100.1 122.14 97.42 122.14 93.87C122.14 90.67 119.46 88.69 116.14 87.46L110.03 85.36C101.99 82.74 100.6 78.02 100.6 74.47C100.6 67.48 106.77 63.23 113.7 63.23C120.98 63.23 125.81 67.25 127.04 72.9L121.8 74.47C120.81 70.39 117.9 68.47 113.71 68.47C109.81 68.47 106.49 70.62 106.49 74.35C106.49 76.1 107.01 78.37 111.79 80.17L117.96 82.5C124.66 84.6 127.86 89.14 127.86 93.45C127.86 100.67 122.15 105.27 113.65 105.27C105.15 105.27 100.02 100.73 98.63 95.08L104.1 93.68L104.09 93.69Z"
            fill="#4A3D38"
          />
          <path
            d="M136.17 104.64V63.88H152.48C160.28 63.88 164.77 69.82 164.77 76.69C164.77 83.56 160.23 89.21 152.48 89.21H142V104.64H136.18H136.17ZM151.25 84.55C155.91 84.55 158.7 81.29 158.7 76.63C158.7 71.97 155.85 68.65 151.25 68.65H141.99V84.55H151.25Z"
            fill="#4A3D38"
          />
          <path
            d="M172.45 104.64V63.88H189.45C197.25 63.88 201.74 69.82 201.74 76.69C201.74 82.75 198.25 87.81 192.13 88.98C192.54 93.41 195.33 100.34 199.88 100.34C201.92 100.34 203.55 99.52 204.66 98.48L206.7 102.44C204.78 104.42 202.16 105.29 199.54 105.29C189.99 105.29 187.02 94.17 186.61 89.22H178.28V104.65H172.46L172.45 104.64ZM188.23 84.55C192.89 84.55 195.68 81.29 195.68 76.63C195.68 71.97 192.83 68.65 188.23 68.65H178.27V84.55H188.23Z"
            fill="#4A3D38"
          />
          <path d="M218.22 104.64H212.4V63.88H218.22V104.64Z" fill="#4A3D38" />
          <path d="M235.46 74.48V104.64H229.64V63.88H233.95L256.25 93.93V63.88H262.13V104.64H257.82L235.46 74.48Z" fill="#4A3D38" />
          <path d="M301.2 63.88V71.45H289.61V104.64H280.7V71.45H269.23V63.88H301.2Z" fill="#ED7838" />
          <path d="M307.43 104.64V63.88H334.51V71.04H316.46V81.06H332.12V88.22H316.46V97.48H334.51V104.64H307.43Z" fill="#ED7838" />
          <path
            d="M357.34 104.64H342.08V63.88H357.34C370.68 63.88 379 73.02 379 84.26C379 95.5 370.67 104.64 357.34 104.64ZM357.34 71.04H351.11V97.48H357.34C365.09 97.48 369.92 91.54 369.92 84.26C369.92 76.98 365.09 71.04 357.34 71.04Z"
            fill="#ED7838"
          />
        </svg>
      </div>
      <div class="mobileButtons flex row wrap content-center">
        <svg class="open flex-content" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="36" height="36" rx="12" fill="#FF7119" />
          <path
            d="M23.0006 16.5314C23.0006 17.9674 22.535 19.2939 21.7506 20.3701L25.707 24.334C26.0977 24.7251 26.0977 25.3602 25.707 25.7513C25.3164 26.1423 24.682 26.1423 24.2913 25.7513L20.3349 21.7874C19.2598 22.5758 17.9348 23.0388 16.5003 23.0388C12.9095 23.0388 10 20.1261 10 16.5314C10 12.9367 12.9095 10.024 16.5003 10.024C20.0911 10.024 23.0006 12.9367 23.0006 16.5314ZM16.5003 21.0365C17.0913 21.0365 17.6765 20.92 18.2225 20.6936C18.7685 20.4672 19.2646 20.1353 19.6825 19.717C20.1003 19.2987 20.4318 18.802 20.658 18.2554C20.8841 17.7088 21.0005 17.123 21.0005 16.5314C21.0005 15.9398 20.8841 15.3539 20.658 14.8074C20.4318 14.2608 20.1003 13.7641 19.6825 13.3458C19.2646 12.9274 18.7685 12.5956 18.2225 12.3692C17.6765 12.1428 17.0913 12.0263 16.5003 12.0263C15.9093 12.0263 15.3242 12.1428 14.7782 12.3692C14.2322 12.5956 13.7361 12.9274 13.3182 13.3458C12.9003 13.7641 12.5688 14.2608 12.3427 14.8074C12.1165 15.3539 12.0001 15.9398 12.0001 16.5314C12.0001 17.123 12.1165 17.7088 12.3427 18.2554C12.5688 18.802 12.9003 19.2987 13.3182 19.717C13.7361 20.1353 14.2322 20.4672 14.7782 20.6936C15.3242 20.92 15.9093 21.0365 16.5003 21.0365Z"
            fill="white"
          />
        </svg>
        <svg class="close flex-content" width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M13.17 0.314649C13.5884 -0.104883 14.2678 -0.104883 14.6862 0.314649C15.1046 0.734181 15.1046 1.4155 14.6862 1.83503L9.01623 7.51717L14.6829 13.2027C15.1012 13.6222 15.1012 14.3035 14.6829 14.7231C14.2645 15.1426 13.585 15.1426 13.1666 14.7231L7.5 9.03755L1.83002 14.7197C1.41164 15.1392 0.732177 15.1392 0.31379 14.7197C-0.104597 14.3002 -0.104597 13.6188 0.31379 13.1993L5.98377 7.51717L0.317137 1.83168C-0.10125 1.41214 -0.10125 0.734181 0.317137 0.314649C0.735524 -0.104883 1.41498 -0.104883 1.83337 0.314649L7.5 5.99679L13.17 0.314649Z"
            fill="#FF7119"
          />
        </svg>
      </div>
      <div class="headerMiddle flex row wrap">
        <div class="searchTop flex row wrap">
          <div class="offline flex row wrap content-center-column selected" for="offlineSearchBar">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
              <path
                d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-96 55.2C54 332.9 0 401.3 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7c0-81-54-149.4-128-171.1V362c27.6 7.1 48 32.2 48 62v40c0 8.8-7.2 16-16 16H336c-8.8 0-16-7.2-16-16s7.2-16 16-16V424c0-17.7-14.3-32-32-32s-32 14.3-32 32v24c8.8 0 16 7.2 16 16s-7.2 16-16 16H256c-8.8 0-16-7.2-16-16V424c0-29.8 20.4-54.9 48-62V304.9c-6-.6-12.1-.9-18.3-.9H178.3c-6.2 0-12.3 .3-18.3 .9v65.4c23.1 6.9 40 28.3 40 53.7c0 30.9-25.1 56-56 56s-56-25.1-56-56c0-25.4 16.9-46.8 40-53.7V311.2zM144 448a24 24 0 1 0 0-48 24 24 0 1 0 0 48z"
              />
            </svg>
            <span>Visita in studio</span>
          </div>
          <div class="online flex row wrap content-center-column" for="onlineSearchBar">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
              <path
                d="M0 128C0 92.7 28.7 64 64 64H320c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128zM559.1 99.8c10.4 5.6 16.9 16.4 16.9 28.2V384c0 11.8-6.5 22.6-16.9 28.2s-23 5-32.9-1.6l-96-64L416 337.1V320 192 174.9l14.2-9.5 96-64c9.8-6.5 22.4-7.2 32.9-1.6z"
              />
            </svg>
            <span>Visita online</span>
          </div>
        </div>
        <div class="searchBars flex column wrap">
          <div class="offlineSearchBar flex row">
            <div class="citySelector flex row content-center-column">
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                <path
                  d="M16 144a144 144 0 1 1 288 0A144 144 0 1 1 16 144zM160 80c8.8 0 16-7.2 16-16s-7.2-16-16-16c-53 0-96 43-96 96c0 8.8 7.2 16 16 16s16-7.2 16-16c0-35.3 28.7-64 64-64zM128 480V317.1c10.4 1.9 21.1 2.9 32 2.9s21.6-1 32-2.9V480c0 17.7-14.3 32-32 32s-32-14.3-32-32z"
                />
              </svg>
              <div class="citySelected">Milano</div>
            </div>
            <div class="categorySelector height-100 flex row content-center-column">
              <input type="text" class="category flex-content row wrap" placeholder="Ecografia, Vaccino, Fisioterapista, Clinica.." />
              <div class="searchButton flex-content row wrap content-center" (click)="showModalVisitaStudioMessage()">Cerca</div>
            </div>
          </div>
          <div class="onlineSearchBar flex row">
            <div class="categorySelector flex row height-100 content-center-column">
              <input type="text" class="category flex-content row wrap" placeholder="Ecografia, Vaccino, Fisioterapista, Clinica.." />
              <div class="searchButton flex-content row wrap content-center" (click)="showModalVisitaOnlineMessage()">Cerca</div>
            </div>
          </div>
        </div>
      </div>
      <div class="headerRight flex column wrap content-end-column">
        <ul class="flex row wrap content-center-column">
          <li class="flex row wrap">
            <a (click)="showModalScaricaMessage()" class="flex-content row wrap content-center-column">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                <path
                  d="M96 32C78.3 32 64 46.3 64 64V448c0 17.7 14.3 32 32 32H288c17.7 0 32-14.3 32-32V64c0-17.7-14.3-32-32-32H96zM32 64C32 28.7 60.7 0 96 0H288c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V64zM160 400h64c8.8 0 16 7.2 16 16s-7.2 16-16 16H160c-8.8 0-16-7.2-16-16s7.2-16 16-16z"
                />
              </svg>
              <span>Scarica l'app</span>
            </a>
          </li>
          <li *ngIf="!isLoggedUser" class="flex row wrap">
            <a (click)="showModal('login')" class="flex-content row wrap content-center-column">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                  d="M399 384.2C376.9 345.8 335.4 320 288 320H224c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z"
                />
              </svg>
              <span>Accedi</span>
            </a>
          </li>
          <div class="flex flex-col wrap items-center" *ngIf="isLoggedUser">
            <button
              data-tooltip-target="tooltip-left"
              data-tooltip-placement="left"
              type="button"
              (click)="goToDashboard()"
              class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
              id="user-menu-button"
              aria-expanded="false"
            >
              <img
                class="w-12 h-12 rounded-full max-w-none"
                [src]="user.data.imgProfile ? user.data.imgProfile : 'assets/img/user-default.png'"
                alt="user photo"
              />
            </button>
            <div
              id="tooltip-left"
              role="tooltip"
              class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
            >
              <span>{{ user.data.name }} {{ user.data.surname }}</span>
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </header>

  <aside class="downloadApp flex column wrap width-100 content-end">
    <div class="content flex column wrap width-100 content-center">
      <div class="header flex row wrap width-100 space-between">
        <div></div>
        <h4 class="flex-content">Scarica l'app</h4>
        <div class="close flex row wrap">
          <svg class="flex-content" width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M13.17 0.314649C13.5884 -0.104883 14.2678 -0.104883 14.6862 0.314649C15.1046 0.734181 15.1046 1.4155 14.6862 1.83503L9.01623 7.51717L14.6829 13.2027C15.1012 13.6222 15.1012 14.3035 14.6829 14.7231C14.2645 15.1426 13.585 15.1426 13.1666 14.7231L7.5 9.03755L1.83002 14.7197C1.41164 15.1392 0.732177 15.1392 0.31379 14.7197C-0.104597 14.3002 -0.104597 13.6188 0.31379 13.1993L5.98377 7.51717L0.317137 1.83168C-0.10125 1.41214 -0.10125 0.734181 0.317137 0.314649C0.735524 -0.104883 1.41498 -0.104883 1.83337 0.314649L7.5 5.99679L13.17 0.314649Z"
              fill="#FF7119"
            />
          </svg>
        </div>
      </div>
      <a href="#" class="flex row wrap">
        <img class="flex-content bg-img" src="/assets/img/soon.png" />
      </a>
      <!-- <a href="#" class="flex row wrap appStore">
        <img class="flex-content bg-img" src="/assets/img/app-store.png" />
      </a>
      <a href="#" class="flex row wrap googlePlay">
        <img class="flex-content bg-img" src="/assets/img/google-play.png" />
      </a> -->
    </div>
  </aside>

  <aside class="comingSoon flex column wrap width-100 content-end">
    <div class="content flex column wrap width-100 content-center">
      <div class="header flex row wrap width-100 space-between">
        <div></div>
        <h4 class="flex-content">Funzionalità disponibile a breve!</h4>
        <div class="close flex row wrap">
          <svg class="flex-content" width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M13.17 0.314649C13.5884 -0.104883 14.2678 -0.104883 14.6862 0.314649C15.1046 0.734181 15.1046 1.4155 14.6862 1.83503L9.01623 7.51717L14.6829 13.2027C15.1012 13.6222 15.1012 14.3035 14.6829 14.7231C14.2645 15.1426 13.585 15.1426 13.1666 14.7231L7.5 9.03755L1.83002 14.7197C1.41164 15.1392 0.732177 15.1392 0.31379 14.7197C-0.104597 14.3002 -0.104597 13.6188 0.31379 13.1993L5.98377 7.51717L0.317137 1.83168C-0.10125 1.41214 -0.10125 0.734181 0.317137 0.314649C0.735524 -0.104883 1.41498 -0.104883 1.83337 0.314649L7.5 5.99679L13.17 0.314649Z"
              fill="#FF7119"
            />
          </svg>
        </div>
      </div>
      <a href="#" class="flex row wrap">
        <img class="flex-content bg-img" src="/assets/img/soon.png" />
      </a>
    </div>
  </aside>

  <main class="width-100 flex row wrap container">
    <section class="hero width-100 flex row wrap relative">
      <img
        class="background lazy flex-content bg-img absolute"
        alt="homepage-hero"
        src="/assets/img/dog.png"
        data-src="/assets/img/dog.png"
        data-srcset="/assets/img/dog.png 10w, /assets/img/dog.png 600w, /assets/img/dog.png 800w"
      />

      <div class="heroContent flex column wrap">
        <h1 class="flex-content">Prenota la tua visita da SprinTed!<br />Cerca tra centinaia di Medici Veterinari e Specialisti</h1>
        <div class="searchContainer flex column wrap">
          <div class="searchTop flex row wrap">
            <div class="offline flex row wrap content-center-column selected" for="offlineSearchBar">
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                <path
                  d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-96 55.2C54 332.9 0 401.3 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7c0-81-54-149.4-128-171.1V362c27.6 7.1 48 32.2 48 62v40c0 8.8-7.2 16-16 16H336c-8.8 0-16-7.2-16-16s7.2-16 16-16V424c0-17.7-14.3-32-32-32s-32 14.3-32 32v24c8.8 0 16 7.2 16 16s-7.2 16-16 16H256c-8.8 0-16-7.2-16-16V424c0-29.8 20.4-54.9 48-62V304.9c-6-.6-12.1-.9-18.3-.9H178.3c-6.2 0-12.3 .3-18.3 .9v65.4c23.1 6.9 40 28.3 40 53.7c0 30.9-25.1 56-56 56s-56-25.1-56-56c0-25.4 16.9-46.8 40-53.7V311.2zM144 448a24 24 0 1 0 0-48 24 24 0 1 0 0 48z"
                />
              </svg>
              <span>Visita in studio</span>
            </div>
            <div class="online flex row wrap content-center-column" for="onlineSearchBar">
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                <path
                  d="M0 128C0 92.7 28.7 64 64 64H320c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128zM559.1 99.8c10.4 5.6 16.9 16.4 16.9 28.2V384c0 11.8-6.5 22.6-16.9 28.2s-23 5-32.9-1.6l-96-64L416 337.1V320 192 174.9l14.2-9.5 96-64c9.8-6.5 22.4-7.2 32.9-1.6z"
                />
              </svg>
              <span>Visita online</span>
            </div>
          </div>
          <div class="searchBars flex column wrap">
            <div class="offlineSearchBar flex row">
              <div class="citySelector flex row content-center-column">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                  <path
                    d="M16 144a144 144 0 1 1 288 0A144 144 0 1 1 16 144zM160 80c8.8 0 16-7.2 16-16s-7.2-16-16-16c-53 0-96 43-96 96c0 8.8 7.2 16 16 16s16-7.2 16-16c0-35.3 28.7-64 64-64zM128 480V317.1c10.4 1.9 21.1 2.9 32 2.9s21.6-1 32-2.9V480c0 17.7-14.3 32-32 32s-32-14.3-32-32z"
                  />
                </svg>
                <div class="citySelected">Milano</div>
              </div>
              <div class="categorySelector height-100 flex row content-center-column">
                <input type="text" class="category flex-content row wrap" placeholder="Ecografia, Vaccino, Fisioterapista, Clinica.." />
                <div class="searchButton flex-content row wrap content-center" (click)="showModalVisitaStudioMessage()">Cerca</div>
              </div>
            </div>
            <div class="onlineSearchBar flex row">
              <div class="categorySelector flex row height-100 content-center-column">
                <input type="text" class="category flex-content row wrap" placeholder="Ecografia, Vaccino, Fisioterapista, Clinica.." />
                <div class="searchButton flex-content row wrap content-center" (click)="showModalVisitaOnlineMessage()">Cerca</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="howWorks flex column wrap width-100">
      <h2 class="flex-content row wrap">Come funziona?</h2>
      <div class="content flex row wrap width-100 space-between">
        <div class="flex column wrap width-25">
          <svg class="icon flex-content" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" preserveAspectRatio="xMinYMin meet">
            <path
              d="M128 0c13.3 0 24 10.7 24 24V64H296V24c0-13.3 10.7-24 24-24s24 10.7 24 24V64h40c35.3 0 64 28.7 64 64v16 48V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V192 144 128C0 92.7 28.7 64 64 64h40V24c0-13.3 10.7-24 24-24zM400 192H48V448c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V192zM329 297L217 409c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47 95-95c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
            />
          </svg>
          <h4 class="flex-content row wrap">Prenotazione facile</h4>
          <p class="flex-content">
            Puoi prenotare il tuo Medico Veterinario o specialista quando e dove vuoi, 24 ore su 24 e 7 giorni su 7 e condividi lo storico sanitario
            aggiornato.
          </p>
        </div>
        <div class="flex column wrap width-25">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" preserveAspectRatio="xMinYMin meet">
            <path
              d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-391c-6.1 0-11.7 3.5-14.3 8.9l-31.3 63.3-69.9 10.2c-6 .9-11 5.1-12.9 10.9s-.3 12.2 4 16.4L182.2 280l-11.9 69.6c-1 6 1.4 12.1 6.4 15.6s11.5 4.1 16.9 1.2L256 333.6l62.5 32.9c5.4 2.8 11.9 2.4 16.8-1.2s7.4-9.6 6.4-15.6L329.8 280l50.6-49.3c4.4-4.3 5.9-10.6 4-16.4s-6.9-10-12.9-10.9l-69.9-10.2-31.3-63.3c-2.7-5.5-8.3-8.9-14.3-8.9z"
            />
          </svg>
          <h4 class="flex-content row wrap">Il meglio per il tuo TED</h4>
          <p class="flex-content">
            Con la dashboard esclusiva SprinTed non dimenticherai più le scadenze e avrai sempre tutti i documenti a tua disposizione
          </p>
        </div>
        <div class="flex column wrap width-25">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" preserveAspectRatio="xMinYMin meet">
            <path
              d="M200.3 81.5C210.9 61.5 231.9 48 256 48s45.1 13.5 55.7 33.5C317.1 91.7 329 96.6 340 93.2c21.6-6.6 46.1-1.4 63.1 15.7s22.3 41.5 15.7 63.1c-3.4 11 1.5 22.9 11.7 28.2c20 10.6 33.5 31.6 33.5 55.7s-13.5 45.1-33.5 55.7c-10.2 5.4-15.1 17.2-11.7 28.2c6.6 21.6 1.4 46.1-15.7 63.1s-41.5 22.3-63.1 15.7c-11-3.4-22.9 1.5-28.2 11.7c-10.6 20-31.6 33.5-55.7 33.5s-45.1-13.5-55.7-33.5c-5.4-10.2-17.2-15.1-28.2-11.7c-21.6 6.6-46.1 1.4-63.1-15.7S86.6 361.6 93.2 340c3.4-11-1.5-22.9-11.7-28.2C61.5 301.1 48 280.1 48 256s13.5-45.1 33.5-55.7C91.7 194.9 96.6 183 93.2 172c-6.6-21.6-1.4-46.1 15.7-63.1S150.4 86.6 172 93.2c11 3.4 22.9-1.5 28.2-11.7zM256 0c-35.9 0-67.8 17-88.1 43.4c-33-4.3-67.6 6.2-93 31.6s-35.9 60-31.6 93C17 188.2 0 220.1 0 256s17 67.8 43.4 88.1c-4.3 33 6.2 67.6 31.6 93s60 35.9 93 31.6C188.2 495 220.1 512 256 512s67.8-17 88.1-43.4c33 4.3 67.6-6.2 93-31.6s35.9-60 31.6-93C495 323.8 512 291.9 512 256s-17-67.8-43.4-88.1c4.3-33-6.2-67.6-31.6-93s-60-35.9-93-31.6C323.8 17 291.9 0 256 0zM192 224a32 32 0 1 0 0-64 32 32 0 1 0 0 64zm160 96a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zM337 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0L175 303c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0L337 209z"
            />
          </svg>
          <h4 class="flex-content row wrap">Numerosi vantaggi</h4>
          <p class="flex-content">Puoi utilizzare il nostro fidelity program NUTS per ricevere numerose promozioni e sconti</p>
        </div>
        <div class="flex column wrap width-25">
          <div class="stars flex row wrap">
            <svg class="flex-content" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512" preserveAspectRatio="xMidYMid meet">
              <path
                d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
              />
            </svg>
            <svg class="flex-content" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512" preserveAspectRatio="xMidYMid meet">
              <path
                d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
              />
            </svg>
            <svg class="flex-content" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512" preserveAspectRatio="xMidYMid meet">
              <path
                d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
              />
            </svg>
            <svg class="flex-content" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512" preserveAspectRatio="xMidYMid meet">
              <path
                d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
              />
            </svg>
            <svg class="flex-content" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512" preserveAspectRatio="xMidYMid meet">
              <path
                d="M287.9 0c9.2 0 17.6 5.2 21.6 13.5l68.6 141.3 153.2 22.6c9 1.3 16.5 7.6 19.3 16.3s.5 18.1-5.9 24.5L433.6 328.4l26.2 155.6c1.5 9-2.2 18.1-9.6 23.5s-17.3 6-25.3 1.7l-137-73.2L151 509.1c-8.1 4.3-17.9 3.7-25.3-1.7s-11.2-14.5-9.7-23.5l26.2-155.6L31.1 218.2c-6.5-6.4-8.7-15.9-5.9-24.5s10.3-14.9 19.3-16.3l153.2-22.6L266.3 13.5C270.4 5.2 278.7 0 287.9 0zm0 79L235.4 187.2c-3.5 7.1-10.2 12.1-18.1 13.3L99 217.9 184.9 303c5.5 5.5 8.1 13.3 6.8 21L171.4 443.7l105.2-56.2c7.1-3.8 15.6-3.8 22.6 0l105.2 56.2L384.2 324.1c-1.3-7.7 1.2-15.5 6.8-21l85.9-85.1L358.6 200.5c-7.8-1.2-14.6-6.1-18.1-13.3L287.9 79z"
              />
            </svg>
          </div>
          <h4 class="flex-content row wrap">Recensisci i professionisti</h4>
          <p class="flex-content">Avrai sempre a disposizione i pareri e le recensioni della community di SprinTed</p>
        </div>
      </div>
    </section>

    <section class="whoAre flex row wrap width-100">
      <div class="content flex row wrap width-100">
        <div class="width-50 flex row wrap left">
          <img class="flex-content bg-img width-100 height-100" src="/assets/img/veterinarian.jpg" />
        </div>
        <div class="width-50 flex column wrap right">
          <div class="section width-100 flex row wrap">
            <h4 class="flex-content width-100">Registrati o chiedici informazioni in più</h4>
            <span class="flex-content width-100">Ti contatteremo il prima possibile</span>
            <a (click)="showFormRegister()" class="flex-content button">Registrati</a>
          </div>
          <div class="section width-100 flex row wrap">
            <h4 class="flex-content width-100">Sei già registrato?</h4>
            <span class="flex-content width-100">Accedi a SprinTed Pro e contattaci via live chat</span>
            <a (click)="showModalSprintedProMessage()" class="flex-content button">Accedi a sprinted pro</a>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer class="flex row wrap width-100">
    <div class="flex row wrap space-between width-100 content container">
      <div class="flex column wrap width-25">
        <h4 class="flex-content">Scarica l'app</h4>
        <a class="flex row wrap appStore appDownloader">
          <img class="flex-content bg-img" src="/assets/img/app-store.png" />
        </a>
        <a class="flex row wrap googlePlay appDownloader">
          <img class="flex-content bg-img" src="/assets/img/google-play.png" />
        </a>
      </div>
      <div class="flex column wrap width-25">
        <!-- <a href="#" class="flex-content">Chi Siamo</a> -->
        <a href="#" class="flex-content">Contatti</a>
        <a href="#" class="flex-content" (click)="showModalMessage()">Sei un Medico Veterinario</a>
        <a href="#" class="flex-content comingSoonOpener">La collaborazione con gli e-commerce</a>
      </div>
      <div class="flex column wrap width-25">
        <a href="#" class="flex-content comingSoonOpener">NUTS Programma fedeltà</a>
        <a href="#" class="flex-content">Termini di utilizzo</a>
        <a href="https://www.garanteprivacy.it/regolamentoue" class="flex-content" target="_blank">Normativa privacy e cookie</a>
        <a href="mailto:info@sprinted.it" class="flex-content">Contattaci</a>
      </div>
      <div class="flex column wrap width-25">
        <div class="social flex row wrap">
          <a href="https://www.facebook.com/Sprintedit" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
              <path
                d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
              />
            </svg>
          </a>
          <a href="https://www.facebook.com/Sprintedit" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
              <path
                d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"
              />
            </svg>
          </a>
        </div>
        <div class="credits flex row wrap">
          <svg class="flex-content" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
            <path
              d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM199.4 312.6c-31.2-31.2-31.2-81.9 0-113.1s81.9-31.2 113.1 0c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9c-50-50-131-50-181 0s-50 131 0 181s131 50 181 0c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0c-31.2 31.2-81.9 31.2-113.1 0z"
            />
          </svg>
          <p class="flex-content">Sprinted S.r.l.</p>
        </div>
        <svg class="flex-content logo" xmlns="http://www.w3.org/2000/svg" width="77" height="127" viewBox="0 0 77 127" fill="none">
          <path d="M8.91355 82.8808C7.72355 85.7808 5.91355 88.3908 4.30355 91.0908C3.99355 91.6108 3.69355 92.1308 3.39355 92.6608" fill="white" />
          <path
            d="M22.3036 65.8308C22.3036 66.3508 20.5936 66.6608 19.6936 67.1808C18.7936 66.6608 17.0836 66.3508 17.0836 65.8308C17.0836 64.6008 22.3036 64.8608 22.3036 65.8608"
            fill="white"
          />
          <path
            d="M3.39355 92.6608C4.15355 98.9708 11.7336 94.6908 14.5036 99.6208C14.9936 100.491 14.7836 97.7308 15.8836 98.6908C17.2536 99.8908 16.3336 97.3908 17.0436 97.8408C18.7636 98.9508 18.4436 96.9008 15.6436 94.9008C12.6436 92.7508 7.58355 90.2908 8.92355 82.8708"
            fill="white"
          />
          <path
            d="M19.6936 67.1808C19.6936 69.9208 17.5836 70.5108 15.7136 69.1008C15.7136 69.1008 19.6936 73.8708 23.6636 69.1008C21.8036 70.5108 19.6836 69.9208 19.6836 67.1808H19.6936Z"
            fill="white"
          />
          <path
            d="M70.1836 75.1908C61.9436 61.6708 40.8536 54.8708 37.1936 39.6008C34.1436 26.8608 40.3136 15.7708 50.9536 11.4008C49.0636 13.5308 47.9136 16.3408 47.9136 19.4108C47.9136 26.0908 53.3236 31.5008 60.0036 31.5008C66.6836 31.5008 72.0936 26.0908 72.0936 19.4108C72.0936 15.6508 70.3836 12.3008 67.6936 10.0808C36.2036 -17.0792 -12.6764 15.0908 3.03357 53.8008C3.71357 55.4808 4.60357 57.1308 5.64357 58.7408C6.37357 56.8208 7.23357 54.8908 7.50357 52.8908C7.83357 50.5008 7.29357 48.0608 7.57357 45.6608C7.68357 44.7408 7.90357 43.8608 8.21357 43.0008C9.00357 40.8208 12.2236 41.3008 12.3936 43.6108C12.4836 44.8308 12.6836 46.0408 12.9936 47.2208C13.1136 47.6608 13.5736 47.9408 14.0136 47.8308C16.0136 47.3408 18.0736 46.9208 20.1236 46.8908C22.1036 46.8608 24.2236 47.3308 26.2436 47.8308C26.6836 47.9408 27.1436 47.6708 27.2636 47.2308C27.5736 46.0508 27.7736 44.8408 27.8636 43.6208C28.0236 41.3108 31.2536 40.8308 32.0436 43.0108C32.3536 43.8608 32.5736 44.7508 32.6836 45.6708C32.9636 48.0708 32.4236 50.5108 32.7536 52.9008C33.3336 57.1008 36.5236 61.0208 35.5236 65.1408C34.8236 68.0008 32.2736 70.0108 31.0136 72.6808C29.5936 75.6908 29.9736 79.2808 31.1536 82.3908C31.2236 82.5808 31.3136 82.7708 31.3936 82.9608L31.3636 82.9008C32.7036 90.3108 27.6436 92.7808 24.6436 94.9308C21.8436 96.9308 21.5236 98.9808 23.2436 97.8708C23.9436 97.4208 23.0336 99.9208 24.4036 98.7208C25.5036 97.7608 25.2936 100.521 25.7836 99.6508C28.5436 94.7208 36.1236 99.0008 36.8836 92.6908C40.2836 98.7808 42.6536 105.641 41.8236 112.521C41.1936 117.691 38.7636 122.421 35.2836 126.321C71.8636 127.581 85.6836 100.631 70.1836 75.2108V75.1908ZM36.6536 92.2608C36.6836 92.3108 36.7136 92.3708 36.7436 92.4208L36.6536 92.2608Z"
            fill="white"
          />
          <path
            d="M28.7835 110.071L29.5335 109.321C30.0035 108.851 29.9635 108.081 29.4535 107.661C24.9135 103.971 18.2735 104.131 13.9035 108.121C12.6935 106.791 10.5435 106.561 8.99351 107.481C8.68351 107.671 8.63351 108.101 8.88351 108.361C9.10351 108.581 9.37351 108.851 9.59351 109.071C9.80351 109.281 10.1335 109.281 10.3635 109.091C11.0935 108.471 12.2435 108.401 13.0935 108.941C9.13351 113.311 8.98351 119.931 12.6635 124.451C13.0835 124.961 13.8535 125.001 14.3235 124.531L15.0735 123.781C18.4935 127.201 23.8435 127.531 27.6335 124.761C28.0335 124.471 29.1035 124.821 29.4635 124.461C29.8235 124.101 29.4635 123.031 29.7635 122.631C32.5335 118.841 32.2035 113.491 28.7835 110.071Z"
            fill="white"
          />
        </svg>
      </div>
    </div>
  </footer>
</div>

<app-login></app-login>
<app-register></app-register>
<app-modal>
  <button messageModal type="button" class="text-white py-2 px-4 rounded modal-button" (click)="closeModal()">OK</button>
</app-modal>
