@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* FONTS */
/* WEIGHTS */
/* COLORS */
/* ===================================
    GENERAL
=================================== */

.home {
  margin-top: 7rem;
}
*,
:after,
:before {
  box-sizing: border-box; }

*:focus {
  outline: none; }

::-moz-focus-inner {
  border: 0; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  box-sizing: border-box; }
  body b {
    font-weight: 700; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

a {
  text-decoration: none;
  color: inherit; }

p:first-child {
  margin-top: 0; }

p:last-child {
  margin-bottom: 0; }

input,
select,
textarea {
  font-family: "Poppins", sans-serif;
  appearance: none;
  -webkit-appearance: initial;
  border-radius: 0;
  box-shadow: none; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: #fff;
  background-image: none;
  color: #000;
  -webkit-box-shadow: 0 0 0px 0px #fff inset;
  -webkit-text-fill-color: #000 !important; }

textarea {
  resize: none; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal; }
  .flex .flex-content {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }

.row {
  -ms-flex-direction: row;
  flex-direction: row; }

.column {
  -ms-flex-direction: column;
  flex-direction: column; }

.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.nowrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.content-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.content-center-row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.content-center-column {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.content-start {
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start; }

.content-start-column {
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start; }

.content-start-row {
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start; }

.content-end {
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end; }

.content-end-column {
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.space-between {
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between; }

.center {
  margin-left: auto;
  margin-right: auto; }

.height-100 {
  height: 100%; }

.width-100 {
  width: 100%; }

.width-90 {
  width: 90%; }

.width-80 {
  width: 80%; }

.width-75 {
  width: 75%; }

.width-70 {
  width: 70%; }

.width-66 {
  width: 66.66%; }

.width-60 {
  width: 60%; }

.width-50 {
  width: 50%; }

.width-40 {
  width: 40%; }

.width-33 {
  width: 33.333%; }

.width-30 {
  width: 30%; }

.width-25 {
  width: 25%; }

.width-20 {
  width: 20%; }

.width-10 {
  width: 10%; }

.fixed {
  position: fixed; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.display-none {
  display: none; }

.image-background {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.bg-img {
  object-fit: cover; }

/* ===================================
    MAIN
=================================== */
main {
  overflow: hidden; }

/* ===================================
    GENERIC
=================================== */
.container {
  max-width: 1224px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto; }

main > section {
  margin-top: 72px; }

.downloadApp,
.comingSoon {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.2);}
  .downloadApp .close,
  .comingSoon .close {
    cursor: pointer; }
  .downloadApp.appear,
  .comingSoon.appear {
    display: flex; }
  .downloadApp .content,
  .comingSoon .content {
    background: #fff;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.6s;
    padding: 24px; }
    .downloadApp .content.appear,
    .comingSoon .content.appear {
      transform: translateY(0);
      opacity: 1; }
    .downloadApp .content .header,
    .comingSoon .content .header {
      font-size: 24px; }
      .downloadApp .content .header > div:first-child, .downloadApp .content .header > div:last-child {
        width: 20px; }
      .downloadApp .content .header h4,
      .comingSoon .content .header h4 {
        font-weight: 500; }
      .downloadApp .content .header svg,
      .comingSoon .content .header svg {
        width: 20px;
        height: 20px; }
    .downloadApp .content a,
    .comingSoon .content a {
      width: calc(100% - 40vw);
      margin-top: 48px; }
      .downloadApp .content a img,
      .comingSoon .content a img {
        width: 100%; }

/* ===================================
    HEADER
=================================== */
header {
  top: 0;
  left: 0;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  z-index: 998; }
  header .header-top {
    background: #ed7838;
    padding: 6px 12px; }
    header .header-top li {
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase;
      color: #fff; }
      header .header-top li:hover {
        text-decoration: underline; }
      header .header-top li:last-child {
        position: relative;
        margin-left: 12px;
        padding-left: 12px; }
        header .header-top li:last-child:before {
          content: '';
          display: inline-flex;
          position: absolute;
          top: 0;
          left: 0;
          width: 1px;
          height: 100%;
          background: #fff; }
  header .headerLeft {
    padding: 12px 0;
    width: 215px;
    overflow: hidden;
    transition: all 0.3s; }
    header .headerLeft.scrolled {
      width: 44px;
      margin-right: 171px; }
    header .headerLeft .logo {
      min-width: 100%;
      height: 100%;
      max-width: 215px;
      max-height: 72px; }
  header .mobileButtons {
    display: none;
    width: 50px;
    height: 50px;
    background: #ed7838;
    border-radius: 5px;
    cursor: pointer;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.3s; }
    header .mobileButtons.show {
      transform: translateY(0);
      opacity: 1; }
    header .mobileButtons.opened {
      background: #FFE5D6; }
      header .mobileButtons.opened svg path {
        color: #ed7838;
        fill: #ed7838; }
    header .mobileButtons.opened .open {
      display: none; }
    header .mobileButtons.opened .close {
      display: inline-flex; }
    header .mobileButtons svg {
      width: 30px;
      height: 30px; }
      header .mobileButtons svg path {
        color: #fff;
        fill: #fff; }
      header .mobileButtons svg.close {
        display: none; }
  header .headerMiddle {
    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.3s; }
    header .headerMiddle.show {
      transform: translateY(0);
      opacity: 1; }
    header .headerMiddle .searchTop {
      border: 1px solid #d95c26;
      border-radius: 5px;
      overflow: hidden; }
      header .headerMiddle .searchTop span {
        display: none; }
      header .headerMiddle .searchTop > div {
        padding: 12px 14px;
        cursor: pointer; }
        header .headerMiddle .searchTop > div svg,
        header .headerMiddle .searchTop > div span {
          color: #d95c26;
          fill: #d95c26; }
        header .headerMiddle .searchTop > div.selected, header .headerMiddle .searchTop > div:hover {
          background: #d95c26; }
          header .headerMiddle .searchTop > div.selected svg,
          header .headerMiddle .searchTop > div.selected span, header .headerMiddle .searchTop > div:hover svg,
          header .headerMiddle .searchTop > div:hover span {
            color: #fff;
            fill: #fff; }
    header .headerMiddle .searchBars {
      width: 500px;
      margin-left: 12px; }
      header .headerMiddle .searchBars > div {
        border: 1px solid rgba(128, 117, 110, 0.4);
        border-radius: 5px;
        width: 100%;
        height: 100%;
        padding: 0 6px 0 12px; }
        header .headerMiddle .searchBars > div.onlineSearchBar {
          display: none; }
        header .headerMiddle .searchBars > div .citySelector {
          color: #80756e;
          fill: #80756e;
          font-size: 16px;
          padding-right: 18px;
          position: relative; }
          header .headerMiddle .searchBars > div .citySelector:before {
            content: '';
            display: inline-flex;
            width: 1px;
            height: 60%;
            position: absolute;
            top: 20%;
            right: 9px;
            background: rgba(128, 117, 110, 0.4); }
          header .headerMiddle .searchBars > div .citySelector > div {
            margin-left: 6px; }
        header .headerMiddle .searchBars > div .categorySelector {
          width: 100%; }
          header .headerMiddle .searchBars > div .categorySelector input {
            width: 100%;
            border: 0;
            padding-right: 18px; }
            header .headerMiddle .searchBars > div .categorySelector input::placeholder {
              color: rgba(128, 117, 110, 0.4);
              font-style: italic; }
          header .headerMiddle .searchBars > div .categorySelector .searchButton {
            background: #d95c26;
            color: #fff;
            height: calc(100% - 12px);
            border: 1px solid #d95c26;
            border-radius: 5px;
            font-size: 14px;
            padding: 0 12px;
            text-transform: uppercase;
            cursor: pointer; }
            header .headerMiddle .searchBars > div .categorySelector .searchButton:hover {
              background: #fff;
              color: #d95c26; }
  header .headerRight ul li {
    border: 1px solid rgba(128, 117, 110, 0.2);
    border-radius: 5px;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase; }
    header .headerRight ul li a {
      padding: 12px 8px; }
    header .headerRight ul li:last-child {
      margin-left: 24px;
      background: #d95c26;
      border-color: #d95c26;
      color: #fff;
      fill: #fff; }
    header .headerRight ul li svg {
      width: 20px;
      height: 20px;
      margin-right: 8px; }
    header .headerRight ul li:hover {
      background: rgba(128, 117, 110, 0.2); }
      header .headerRight ul li:hover:last-child {
        background: #fff;
        color: #d95c26;
        fill: #d95c26; }

/* ===================================
    HERO
=================================== */
.hero {
  background: #d95c26;
  background: linear-gradient(90deg, #d95c26 0%, #d95c26 70%, #eb9e3f 100%);
  border-radius: 20px;
  overflow: hidden; }
  .hero .background {
    bottom: 0;
    right: 0;
    right: -40px;
    z-index: 1;
    width: 300px;
    max-height: 80%; }
  .hero .heroContent {
    z-index: 3;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 72px; }
    .hero .heroContent h1 {
      color: #ffffff;
      font-size: 30px;
      line-height: 40px;
      font-weight: 500; }
    .hero .heroContent .searchTop {
      margin-top: 24px; }
      .hero .heroContent .searchTop > div {
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.2);
        padding: 8px;
        font-size: 16px;
        line-height: normal;
        color: #fff;
        fill: #fff;
        cursor: pointer; }
        .hero .heroContent .searchTop > div:first-child {
          margin-right: 12px; }
        .hero .heroContent .searchTop > div svg {
          margin-right: 12px; }
        .hero .heroContent .searchTop > div:hover, .hero .heroContent .searchTop > div.selected {
          background: #fff;
          color: #d95c26;
          fill: #d95c26; }
    .hero .heroContent .searchBars {
      margin-top: 12px; }
      .hero .heroContent .searchBars > div {
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        height: 76px; }
        .hero .heroContent .searchBars > div.onlineSearchBar {
          display: none; }
        .hero .heroContent .searchBars > div .citySelector {
          color: #80756e;
          padding: 24px 36px 24px 24px;
          font-size: 20px;
          line-height: 20px;
          position: relative; }
          .hero .heroContent .searchBars > div .citySelector:after {
            content: '';
            display: inline-flex;
            position: absolute;
            top: 10%;
            right: 0;
            width: 1px;
            height: 80%;
            background: rgba(128, 117, 110, 0.2); }
          .hero .heroContent .searchBars > div .citySelector > svg {
            width: 20px;
            color: #80756e;
            fill: #80756e;
            margin-right: 12px; }
        .hero .heroContent .searchBars > div .categorySelector {
          width: 100%;
          padding-right: 9px; }
          .hero .heroContent .searchBars > div .categorySelector input {
            padding: 24px;
            width: 100%;
            border: 0;
            color: #80756e;
            font-size: 18px;
            line-height: 18px; }
            .hero .heroContent .searchBars > div .categorySelector input::placeholder {
              color: rgba(128, 117, 110, 0.4);
              font-style: italic; }
          .hero .heroContent .searchBars > div .categorySelector .searchButton {
            height: calc(100% - 18px);
            background: #d95c26;
            border: 1px solid #d95c26;
            color: #fff;
            padding: 0 24px;
            border-radius: 10px;
            font-size: 16px;
            text-transform: uppercase;
            cursor: pointer; }
            .hero .heroContent .searchBars > div .categorySelector .searchButton:hover {
              background: #fff;
              color: #d95c26; }

/* ===================================
    HOW IT WORKS
=================================== */
.howWorks h2 {
  font-weight: 400; }

.howWorks .content > div {
  width: calc(25% - 9px); }
  .howWorks .content > div svg {
    color: #d95c26;
    fill: #d95c26;
    margin-top: 48px;
    margin-bottom: 24px; }
  .howWorks .content > div > svg {
    width: 70px;
    height: 70px; }
  .howWorks .content > div .stars > svg {
    width: 40px;
    height: 70px; }
  .howWorks .content > div h4 {
    font-weight: 700; }
  .howWorks .content > div p {
    font-size: 16px;
    line-height: 20px; }

/* ===================================
    WHO ARE
=================================== */
.whoAre .content {
  border: 1px solid #80756e;
  border-radius: 10px;
  overflow: hidden; }
  .whoAre .content .right {
    padding: 72px 24px; }
    .whoAre .content .right .section h4 {
      font-size: 24px;
      line-height: 30px;
      font-weight: 500; }
    .whoAre .content .right .section span {
      margin-top: 12px; }
    .whoAre .content .right .section a {
      text-transform: uppercase;
      border: 1px solid #d95c26;
      color: #d95c26;
      border-radius: 5px;
      padding: 6px 12px;
      margin-top: 12px; }
      .whoAre .content .right .section a:hover {
        background: #d95c26;
        color: #fff; }
    .whoAre .content .right .section:last-child {
      margin-top: 48px; }

/* ===================================
    FOOTER
=================================== */
footer {
  background: #211a14;
  color: #fff;
  margin-top: 72px; }
  footer .content {
    padding-top: 48px;
    padding-bottom: 48px; }
    footer .content > div {
      width: calc(25% - 9px); }
      footer .content > div h4 {
        font-weight: 400;
        margin-bottom: 24px; }
      footer .content > div .appStore img,
      footer .content > div .googlePlay img {
        width: 150px; }
      footer .content > div .appStore.googlePlay,
      footer .content > div .googlePlay.googlePlay {
        margin-top: 12px; }
      footer .content > div > a {
        font-size: 14px;
        line-height: 18px; }
        footer .content > div > a:hover {
          text-decoration: underline; }
        footer .content > div > a:nth-child(n+2) {
          margin-top: 12px; }
      footer .content > div .social svg {
        width: 30px;
        height: 30px;
        color: #fff;
        fill: #fff; }
        footer .content > div .social svg:first-child {
          margin-right: 12px; }
      footer .content > div .credits {
        margin-top: 24px; }
        footer .content > div .credits svg {
          width: 16px;
          height: 16px;
          color: #fff;
          fill: #fff;
          margin-right: 6px; }
        footer .content > div .credits p {
          margin-top: 0;
          font-size: 16px;
          line-height: 16px; }
      footer .content > div .logo {
        margin-top: 24px;
        height: 120px; }

/* ===================================
    RESPONSIVE
=================================== */
@media (hover: none) and (pointer: coarse) {
  body {
    -webkit-overflow-scrolling: touch; } }

@media screen and (max-width: 1199px) {
  header .headerMiddle .searchBars {
    width: 350px; }
  .hero .heroContent {
    padding-left: 36px; }
    .hero .heroContent .searchBars {
      width: calc(100vw - 400px); } }

@media screen and (max-width: 1023px) {
  header .header-content {
    height: 100px; }
  header .mobileButtons {
    display: flex;
    order: 1; }
  header .headerLeft {
    order: 2;
    width: 44px;
    margin-right: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  header .headerRight {
    order: 3; }
    header .headerRight ul li {
      font-size: 14px; }
      header .headerRight ul li:last-child {
        margin-left: 12px; }
      header .headerRight ul li a {
        padding: 8px 6px; }
  header .headerMiddle {
    display: none;
    transform: translateY(0);
    opacity: 1;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    width: 100%;
    flex-direction: column;
    align-items: center;
    order: 4;
    padding: 12px 0 24px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1); }
    header .headerMiddle.show {
      display: flex; }
    header .headerMiddle .searchBars {
      width: 350px; }
    header .headerMiddle .searchTop {
      max-width: calc(100% - 24px); }
      header .headerMiddle .searchTop > div {
        width: 249px;
        max-width: 50%;
        justify-content: center; }
      header .headerMiddle .searchTop span {
        display: inline-flex;
        font-size: 14px;
        margin-left: 12px; }
    header .headerMiddle .searchBars {
      height: 60px;
      width: 500px;
      max-width: calc(100% - 24px);
      margin-top: 12px;
      margin-left: 0; }
  .hero {
    position: relative;
    overflow: hidden; }
    .hero:after {
      content: '';
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.2);
      z-index: 1; }
    .hero .background {
      width: 200px;
      right: -20px; }
    .hero .heroContent {
      padding-top: 100px;
      padding-bottom: 100px; }
      .hero .heroContent .searchBars {
        width: calc(100% - 150px); }
        .hero .heroContent .searchBars > div {
          height: 60px; }
          .hero .heroContent .searchBars > div .citySelector {
            padding: 12px 18px 12px 12px;
            font-size: 16px; }
            .hero .heroContent .searchBars > div .citySelector svg {
              margin-right: 8px; }
          .hero .heroContent .searchBars > div .categorySelector input {
            padding: 12px;
            font-size: 14px; }
            .hero .heroContent .searchBars > div .categorySelector input::placeholder {
              font-size: 14px; }
  .howWorks .content > div {
    width: calc(50% - 12px); }
  footer .content > div {
    width: calc(50% - 12px); }
    footer .content > div:nth-child(n+3) {
      margin-top: 48px; } }

@media screen and (max-width: 767px) {
  header .header-content {
    height: 70px; }
  header .header-top {
    padding: 4px 0; }
    header .header-top li {
      font-size: 11px; }
      header .header-top li:last-child {
        margin-left: 6px;
        padding-left: 6px; }
  header .headerLeft {
    width: 31px;
    padding: 0; }
    header .headerLeft .logo {
      height: 50px; }
  header .headerRight ul li:first-child {
    display: none; }
  header .headerRight ul li:last-child {
    margin-left: 0;
    border-radius: 0;
    border: 0;
    background: #fff; }
    header .headerRight ul li:last-child a {
      padding: 0; }
      header .headerRight ul li:last-child a svg {
        color: #d95c26;
        fill: #d95c26;
        margin-right: 0;
        width: 30px;
        height: 30px; }
      header .headerRight ul li:last-child a span {
        display: none; }
  header .mobileButtons {
    border: 0;
    border-radius: 0;
    background: transparent; }
    header .mobileButtons.opened {
      background: #fff; }
    header .mobileButtons svg {
      width: 36px;
      height: 36px; }
    header .mobileButtons svg.close {
      width: 25px;
      height: 25px; }
      header .mobileButtons svg path {
        color: #fff;
        fill: #fff; }
  main > section {
    margin-top: 48px; }
  .hero:after {
    display: none; }
  .hero .background {
    width: 150px;
    right: 50%;
    transform: translateX(50%); }
  .hero .heroContent {
    padding-top: 36px;
    padding-bottom: 204px;
    padding-left: 18px;
    padding-right: 18px; }
    .hero .heroContent h1 {
      font-size: 22px;
      line-height: 28px; }
    .hero .heroContent .searchContainer .searchTop > div {
      font-size: 14px; }
      .hero .heroContent .searchContainer .searchTop > div:first-child {
        margin-right: 6px; }
    .hero .heroContent .searchBars {
      width: 100%; }
      .hero .heroContent .searchBars > div {
        height: 50px; }
        .hero .heroContent .searchBars > div .citySelector {
          padding: 6px 8px 6px 6px;
          font-size: 14px; }
          .hero .heroContent .searchBars > div .citySelector svg {
            width: 15px;
            margin-right: 6px; }
        .hero .heroContent .searchBars > div .categorySelector {
          padding-right: 6px; }
          .hero .heroContent .searchBars > div .categorySelector input {
            padding: 8px;
            font-size: 10px; }
            .hero .heroContent .searchBars > div .categorySelector input::placeholder {
              font-size: 10px; }
          .hero .heroContent .searchBars > div .categorySelector .searchButton {
            height: calc(100% - 12px);
            padding: 0 6px;
            font-size: 12px; }
  .howWorks h2 {
    font-size: 20px;
    justify-content: center; }
  .howWorks .content > div {
    width: 100%;
    align-items: center;
    text-align: center; }
    .howWorks .content > div svg {
      margin-top: 36px;
      margin-bottom: 12px;
      width: 40px;
      height: 40px; }
    .howWorks .content > div h4 {
      font-size: 16px; }
    .howWorks .content > div p {
      font-size: 14px;
      margin-top: 6px; }
  .whoAre .content > div {
    width: 100%; }
    .whoAre .content > div.right {
      padding: 24px 12px; }
      .whoAre .content > div.right .section {
        justify-content: center; }
        .whoAre .content > div.right .section:last-child {
          margin-top: 24px; }
        .whoAre .content > div.right .section h4 {
          font-size: 20px;
          line-height: 26px;
          text-align: center;
          justify-content: center; }
        .whoAre .content > div.right .section span {
          font-size: 16px;
          margin-top: 6px;
          text-align: center;
          justify-content: center; }
        .whoAre .content > div.right .section a {
          font-size: 16px; }
  footer .content > div {
    width: 100%;
    align-items: center;}
    footer .content > div h4 {
      margin-bottom: 0; }
    footer .content > div:nth-child(n+2) {
      margin-top: 36px; }
    footer .content > div .logo {
      margin-left: auto;
      margin-right: auto; }
      .comingSoon .content .header h4 {
        font-size: 18px;
      }
    }

.modal-button {
  display: inline-block;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: red;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  margin: 0.3125em;
  padding: 0.625em 1.1em;
  transition: box-shadow .1s;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0);
  font-weight: 500;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modal-button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.modal-button:active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
