<div class="sm:pt-0 md:pt-4 pt-4 px-10 min-h-screen bg-slate-100">
  <div class="flex">
    <div class="flex grid grid-cols-1">
      <app-profile-professional-calendar></app-profile-professional-calendar>
      <app-profile-professional-sidebar></app-profile-professional-sidebar>
    </div>
    <app-profile-professional-about></app-profile-professional-about>
    <!-- <router-outlet></router-outlet> -->
  </div>
  <app-profile-professional-contact></app-profile-professional-contact>
</div>