.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.text-custom {
  font-size: 22px;
}

.text-margin-custom {
  margin-top: -20px;
  margin-bottom: 40px;
}

.bg-custom {
  min-height: 35vh;
  background-image: url('../../../../assets/comingsoon/frame.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-margin-custom {
  margin-top: -85px;
}

@media (min-width: 768px) {
  .md\:w-1\/2 {
    width: 80%;
  }

  .bg-custom {
    min-height: 25vh;
  }

  .text-margin-custom {
    margin-top: -20px;
    margin-bottom: 45px;
  }
}

@media (min-width: 768px) {
  .bg-custom {
    min-height: 24vh;
  }

  .text-custom {
    font-size: 21px;
  }

  .text-margin-custom {
    margin-top: -20px;
    margin-bottom: 30px;
  }

  .bg-margin-custom {
    margin-top: -75px;
  }
}

@media (min-width: 1280px) {
  .xl\:w-1\/3 {
      width: 33.333333%;
    }
  .bg-custom {
      min-height: 42vh;
    }
}
