<div class="md:w-1/2 lg:w-1/3 xl:w-1/3 p-2 mx-auto my-auto">
  <div class="md:w-11/12 lg:w-full relative">
    <div class="mt-16 md:scale-60">
      <div class="justify-center">
        <img src="assets/comingsoon/background.jpg" width="500px" alt="">
        <div class="text-custom text-margin-custom text-center">Sprin<span class="text-sprinted-orange-text">Ted</span>
          è pronto a regalarti un sacco di novità!</div>
        <div class="text-custom text-margin-custom text-center">Scopri di cosa si tratta:</div>
        <div class="bg-custom bg-margin-custom items-center justify-center">
          <video width="356" height="240" controls poster="/assets/files/videos/cover.jpg">
            <source src="/assets/files/videos/coming_soon_sprinted.MP4" type="video/mp4">
        </video>
        </div>
        <div class="text-custom text-center">Il team di SprinTed ti aggiornerà sugli sviluppi futuri!</div>
      </div>
    </div>
  </div>
</div>