<div class="mt-4">
  <div class="w-full flex justify-end px-4">
    <button
      type="button"
      (click)="donwloadPdfHealthCard()"
      class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none text-white rounded-full border border-gray-200 hover:bg-white hover:text-blue-label border-blue-label focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
    >
      <svg
        *ngIf="!isPdfLoading"
        xmlns="http://www.w3.org/2000/svg"
        fill="#2C4FA3"
        stroke-width="1.5"
        stroke="currentColor"
        viewBox="0 0 512 512"
        class="w-6 h-6 text-white"
      >
        <g>
          <path
            d="M494.479 138.557 364.04 3.018A9.853 9.853 0 0 0 356.945 0h-194.41c-21.757 0-39.458 17.694-39.458 39.442v137.789H44.29c-16.278 0-29.521 13.239-29.521 29.513v147.744C14.769 370.761 28.012 384 44.29 384h78.787v88.627c0 21.71 17.701 39.373 39.458 39.373h295.238c21.757 0 39.458-17.653 39.458-39.351V145.385a9.85 9.85 0 0 0-2.752-6.828zM359.385 26.581l107.079 111.265H359.385V26.581zM44.29 364.308c-5.42 0-9.828-4.405-9.828-9.82V206.744c0-5.415 4.409-9.821 9.828-9.821h265.882c5.42 0 9.828 4.406 9.828 9.821v147.744c0 5.415-4.409 9.82-9.828 9.82H44.29zm433.248 108.341c0 10.84-8.867 19.659-19.766 19.659H162.535c-10.899 0-19.766-8.828-19.766-19.68V384h167.403c16.278 0 29.521-13.239 29.521-29.512V206.744c0-16.274-13.243-29.513-29.521-29.513H142.769V39.442c0-10.891 8.867-19.75 19.766-19.75h177.157v128c0 5.438 4.409 9.846 9.846 9.846h128v315.111z"
          ></path>
          <path
            d="M132.481 249.894c-3.269-4.25-7.327-7.01-12.173-8.279-3.154-.846-9.923-1.269-20.308-1.269H72.596v84.577h17.077v-31.904h11.135c7.731 0 13.635-.404 17.712-1.212 3-.654 5.952-1.99 8.856-4.01 2.904-2.019 5.298-4.798 7.183-8.336 1.885-3.538 2.827-7.904 2.827-13.096-.001-6.731-1.636-12.221-4.905-16.471zm-14.625 23.279c-1.288 1.885-3.067 3.269-5.337 4.154s-6.769 1.327-13.5 1.327h-9.346v-24h8.25c6.154 0 10.25.192 12.288.577 2.769.5 5.058 1.75 6.865 3.75 1.808 2 2.712 4.539 2.712 7.615.001 2.5-.644 4.692-1.932 6.577zM219.481 263.452c-1.846-5.404-4.539-9.971-8.077-13.702s-7.789-6.327-12.75-7.789c-3.692-1.077-9.058-1.615-16.096-1.615h-31.212v84.577h32.135c6.308 0 11.346-.596 15.115-1.789 5.039-1.615 9.039-3.865 12-6.75 3.923-3.808 6.942-8.788 9.058-14.942 1.731-5.039 2.596-11.039 2.596-18 0-7.923-.923-14.586-2.769-19.99zm-16.616 34.731c-1.154 3.789-2.644 6.51-4.471 8.163-1.827 1.654-4.125 2.827-6.894 3.519-2.115.539-5.558.808-10.327.808h-12.75v-56.019h7.673c6.961 0 11.635.269 14.019.808 3.192.692 5.827 2.019 7.904 3.981 2.077 1.962 3.692 4.692 4.846 8.192s1.731 8.519 1.731 15.058c0 6.538-.577 11.701-1.731 15.49zM294.827 254.654v-14.308h-57.981v84.577h17.077v-35.942h35.308v-14.308h-35.308v-20.019z"
          ></path>
        </g>
      </svg>

      <div role="status" *ngIf="isPdfLoading">
        <svg
          aria-hidden="true"
          class="w-6 h-6 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
          viewBox="0 0 100 101"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor"
          />
          <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentFill"
          />
        </svg>
        <span class="sr-only">Loading...</span>
      </div>
    </button>
    <button
      type="button"
      (click)="openFormModal()"
      class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-blue-label text-white rounded-full border border-gray-200 hover:bg-white hover:text-blue-label border-blue-label focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
    >
      +
    </button>
  </div>
  <cdk-accordion class="flex flex-col justify-center m-auto w-full">
    <cdk-accordion-item
      *ngFor="let healthCard of healthCards; let index = index"
      #accordionItem="cdkAccordionItem"
      class="border-0"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index"
      (opened)="healthCard.isOpenAccordion = true"
      (closed)="healthCard.isOpenAccordion = false"
    >
      <div class="border-0" (click)="accordionItem.toggle()">
        <h2>
          <button
            type="button"
            class="flex items-center justify-between w-full py-5 font-medium text-left text-gray-500 border border-0 rounded-xl"
            data-accordion-target="#accordion-collapse-body-1"
            aria-expanded="true"
            aria-controls="accordion-collapse-body-1"
          >
            <div class="flex">
              <div class="rounded-full border-2 p-2 border-blue-label m-auto mr-2">
                <img [src]="healthCard.icon" class="w-5 h-5" alt="" />
              </div>
              <div class="flex flex-col">
                <p class="text-start text-base text-blue-label font-medium leading-8">
                  {{ healthCard.name }}
                </p>
                <p class="text-sm">
                  {{ healthCard.createdAt | date : 'longDate' }}
                </p>
              </div>
            </div>
            <svg
              *ngIf="!healthCard.isOpenAccordion"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5 text-blue-label"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
            </svg>
            <svg
              *ngIf="healthCard.isOpenAccordion"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5 text-blue-label"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>
          </button>
        </h2>
      </div>
      <div
        class="bg-[#1F388226] m-1 rounded-xl"
        role=" region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index"
      >
        <div id="accordion-collapse-body-1" aria-labelledby="">
          <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
            <div class="flex w-full justify-center">
              <h2 class="font-bold text-base text-blue-label">{{ healthCard.name }}</h2>
            </div>
            <table class="text-xs my-3">
              <tbody>
                <tr>
                  <td class="px-2 py-2 text-gray-500 font-semibold">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6 text-blue-label"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
                      />
                    </svg>
                  </td>
                  <td class="px-2 py-2 text-blue-label">{{ healthCard.veterinarian }}</td>
                </tr>
                <tr>
                  <td class="px-2 py-2 text-gray-500 font-semibold">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6 text-blue-label"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5"
                      />
                    </svg>
                  </td>
                  <td class="px-2 py-2 text-blue-label">
                    {{ healthCard.createdAt | date : 'dd/MM/yyyy-HH:mm' }}
                  </td>
                </tr>
                <!-- <tr>
                  <td class="px-2 py-2 text-gray-500 font-semibold">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="w-6 h-6 text-blue-label">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5" />
                    </svg>
                  </td>
                  <td class="px-2 py-2 text-blue-label">
                    {{ healthCard.lot }}
                  </td>
                </tr> -->
                <tr class="flex flex-col">
                  <td class="px-2 py-2 font-bold text-base text-blue-label">Lotto</td>
                  <td class="px-2 py-2 text-blue-label">{{ healthCard.lot }}</td>
                </tr>
                <tr class="flex flex-col">
                  <td class="px-2 py-2 font-bold text-base text-blue-label">Note</td>
                  <td class="px-2 py-2 text-blue-label">{{ healthCard.note }}</td>
                </tr>
              </tbody>
            </table>
            <ng-container *ngIf="healthCard.recall?.dateOfRecall">
              <h3 class="text-center text-xl text-gray-900 font-medium leading-8">Richiamo</h3>
              <table class="text-xs my-3">
                <tbody>
                  <tr>
                    <td class="px-2 py-2 text-gray-500 font-semibold">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5"
                        />
                      </svg>
                    </td>
                    <td class="px-2 py-2">
                      {{ healthCard.recall?.dateOfRecall | date : 'dd/MM/yyyy' }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
            <div class="text-center my-3">
              <button
                (click)="editCurrentHealthCard(healthCard)"
                class="text-xs text-white font-bold bg-blue-label py-2 px-3 rounded-full hover:text-blue-label hover:bg-white"
              >
                Modifica
              </button>
            </div>
          </div>
        </div>
      </div>
    </cdk-accordion-item>
  </cdk-accordion>
</div>

<app-form-healthcard
  [showModal]="showModalCreate"
  [healthCardToEdit]="currentHealthCard"
  [isEdit]="isEdit"
  (closeModalAction)="closeFormModal($event)"
></app-form-healthcard>
