<div class="flex justify-center gap-4 h-full px-4" *ngIf="showModal">
  <ng-container *ngFor="let item of items">
    <button
      class="w-1/2 h-36 justify-center bg-sprinted-blue rounded-lg m-6 flex flex-col items-center p-4 border border-blue-label hover:bg-gray-100"
      (click)="selectedTypeValue.emit(item.type)"
    >
      <img [src]="item.icon" class="w-8 h-8" alt="" />
      <p class="text-blue-label font-medium">{{ item.title }}</p>
    </button>
  </ng-container>
</div>
