<div
  *ngIf="showModal"
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex flex-col"
>
  <div class="relative w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-[#e9edf6] rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex justify-between p-4 border-b rounded-t dark:border-gray-600">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns:svgjs="http://svgjs.com/svgjs"
          viewBox="0 0 24 24"
          style="enable-background: new 0 0 512 512"
          xml:space="preserve"
          class="w-6 h-6"
        >
          <g>
            <path
              d="M22.75 8c0-1.52-1.23-2.75-2.75-2.75S17.25 6.48 17.25 8c0 1.25.85 2.3 2 2.63V16a5.25 5.25 0 1 1-10.5 0v-1.29c3.37-.37 6-3.24 6-6.71V3c0-.96-.79-1.75-1.75-1.75h-1c-.41 0-.75.34-.75.75s.34.75.75.75h1c.14 0 .25.11.25.25v5a5.25 5.25 0 1 1-10.5 0V3c0-.14.11-.25.25-.25h1c.41 0 .75-.34.75-.75s-.34-.75-.75-.75H3c-.96 0-1.75.79-1.75 1.75v5c0 3.47 2.63 6.33 6 6.71V16c0 3.72 3.03 6.75 6.75 6.75s6.75-3.03 6.75-6.75v-5.37c1.15-.33 2-1.38 2-2.63zM20 9.25a1.25 1.25 0 1 1 0-2.5 1.25 1.25 0 0 1 0 2.5z"
              fill="#000000"
              data-original="#000000"
              class=""
            ></path>
          </g>
        </svg>
        <h3 class="flex text-xl font-semibold text-gray-900 dark:text-white">
          {{
            !showForm
              ? 'Libretto sanitario'
              : typeForm == 'vaccine'
              ? isEdit
                ? 'Modifica Vaccino'
                : 'Aggiungi Vaccino'
              : isEdit
              ? 'Modifica Antiparassitario'
              : 'Aggiungi Antiparassitario'
          }}
        </h3>
        <button
          type="button"
          (click)="closeModal()"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="defaultModal"
        >
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <app-select-type-page [showModal]="!showForm" [items]="typeHealthcards" (selectedTypeValue)="selectForm($event)"></app-select-type-page>

      <div *ngIf="showForm" class="bg-white py-4">
        <button class="absolute px-4" (click)="turnBackToSelect()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
          </svg>
        </button>
        <form *ngIf="myForm" class="flex items-center justify-center flex-col space-y-4" [formGroup]="myForm" (ngSubmit)="addHealtcard(myForm)">
          <div class="relative w-1/2">
            <input
              type="text"
              id="small_outlined"
              class="block px-2.5 pb-1.5 pt-3 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              formControlName="name"
            />
            <label
              for="small_outlined"
              class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-3 scale-75 top-1 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 left-1"
            >
              Nome vaccino</label
            >
          </div>
          <div class="relative w-1/2">
            <input
              type="text"
              id="small_outlined"
              class="block px-2.5 pb-1.5 pt-3 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              formControlName="lot"
            />
            <label
              for="small_outlined"
              class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-3 scale-75 top-1 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 left-1"
            >
              Lotto</label
            >
          </div>
          <div class="relative w-1/2">
            <input
              type="text"
              id="small_outlined-1"
              class="block px-2.5 pb-1.5 pt-3 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              formControlName="vet"
            />
            <label
              for="small_outlined-1"
              class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-3 scale-75 top-1 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 left-1"
            >
              Veterinario</label
            >
          </div>
          <div class="relative w-1/2">
            <input
              [matDatepicker]="picker"
              (click)="picker.open()"
              type="text"
              id="small_outlined-2"
              class="block px-2.5 pb-1.5 pt-3 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              formControlName="whenApplied"
            />
            <mat-datepicker class="w-full" #picker></mat-datepicker>

            <label
              for="small_outlined-2"
              class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-3 scale-75 top-1 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 left-1"
            >
              Quando</label
            >
          </div>
          <div class="relative w-1/2">
            <input
              type="text"
              id="small_outlined-3"
              class="block px-2.5 pb-1.5 pt-3 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              formControlName="note"
            />
            <label
              for="small_outlined-3"
              class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-3 scale-75 top-1 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 left-1"
            >
              Note</label
            >
          </div>
          <div class="relative w-1/2 flex justify-between items-center">
            <ng-container *ngIf="!addExtraRecallForm">
              <p class="text-xs flex items-center cursor-pointer" (click)="addExtraRecall()">
                Aggiungi richiamo
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>
              </p>
              <button type="submit" class="bg-blue-label text-xs text-white px-4 py-2 rounded-full">Salva</button>
            </ng-container>
            <ng-container *ngIf="addExtraRecallForm">
              <p class="m-auto text-xs flex items-center cursor-pointer">Richiamo</p>
              <button (click)="addExtraRecall()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
              </button>
            </ng-container>
          </div>
          <ng-container *ngIf="addExtraRecallForm">
            <div class="relative w-1/2" formArrayName="recall">
              <input
                [matDatepicker]="picker2"
                (click)="picker2.open()"
                type="text"
                id="small_outlined-3"
                class="block px-2.5 pb-1.5 pt-3 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" "
                formControlName="dateOfRecall"
              />
              <mat-datepicker class="w-full" #picker2></mat-datepicker>

              <label
                for="small_outlined-3"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-3 scale-75 top-1 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 left-1"
              >
                Quando</label
              >
            </div>
            <div class="relative w-1/2 flex justify-between items-center">
              <label class="relative inline-flex justify-center items-center cursor-pointer">
                <input type="checkbox" value="" class="sr-only peer" formControlName="remember" />
                <div
                  class="w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
                ></div>
                <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Ricordami</span>
              </label>
              <button type="submit" class="bg-blue-label text-xs text-white px-4 py-2 rounded-full">Salva</button>
            </div>
          </ng-container>
          <div></div>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
