<div class=" w-full h-full p-4">
  <!-- <div class="row-span-2 col-start-1 row-start-1 relative h-full w-full p-4">
      <mat-calendar class="absolute inset-0 p-4 bg-white rounded-xl" [(selected)]="selected"></mat-calendar>
    </div>
    <div class="row-span-3 col-start-1 row-start-3 bg-sprinted-orange">
      <div class="bg-sprinted-orange"></div>
    </div>
    <div class="col-span-3 row-span-5 col-start-2 row-start-1">
      <bryntum-project-model #project [events]="events" [resources]="resources"></bryntum-project-model>
      
      <bryntum-calendar #calendar [date]="calendarConfig.date!" [project]="project"></bryntum-calendar>
    </div> -->
  <bryntum-project-model #project [events]="events" [resources]="resources"></bryntum-project-model>

  <bryntum-calendar #calendar [date]="calendarConfig.date!" [project]="project"></bryntum-calendar>
</div>