<div class="bg-white test h-[calc(100vh / var(--zoom))] w-full relative overflow-scroll">
    <h3 class="text-3xl p-10">
        Apri la tua agenda
    </h3>
    <div class="flex flex-col w-2/3   m-auto">
        <p class="text-lg">Imposta la durata dei tuoi meeting</p>
        <p class="text-base">Definisci la durata massima dei meeting, puoi selezionarne più di una</p>
        <div class="flex my-4">
            <select id="countries"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 ">
                <option selected disabled>Orario</option>
                <option value="30">30 minuti</option>
                <option value="40">40 minuti</option>
                <option value="50">50 minuti</option>
                <option value="60">60 minuti</option>

            </select>

        </div>

        <div class="border-2 p-4 rounded-lg">
            <p class="text-xl">
                Le tue disponibilità settimanali
            </p>
            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
            <app-slot-time></app-slot-time>
            <app-slot-time titleDay="Martedì"></app-slot-time>
            <app-slot-time titleDay="Mercoledì"></app-slot-time>
            <app-slot-time titleDay="Giovedì"></app-slot-time>
            <app-slot-time titleDay="Venerdì"></app-slot-time>
            <app-slot-time titleDay="Sabato"></app-slot-time>
            <app-slot-time titleDay="Domenica"></app-slot-time>
        </div>

    </div>
</div>