<div class="p-4 mb-4 bg-slate-100 ">
    <div class="flex items-center justify-between">
        <p class="text-2xl p-2">{{titleDay}}</p>
        <input checked id="teal-checkbox" type="checkbox" value=""
            class="w-6 h-6 text-teal-600 bg-gray-100 border-gray-300 rounded focus:ring-teal-500 dark:focus:ring-teal-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">

    </div>
    <div class="flex items-center">
        <p class="text-base">Sarai disponibile nei seguenti orari</p>
        <hr class="h-px w-1/2 m-2 bg-slate-200 border-0 dark:bg-gray-700">
    </div>
    <div class="grid grid-cols-2 gap-4 mt-2">
        <div>
            <div class="flex flex-col" *ngFor="let timeTable of arrayOfTimetables">

                <div class="flex gap-4 items-center mb-4">
                    <div class=" px-5 py-2 w-fit bg-white rounded-lg shadow-xl relative">
                        <div class="flex flex-col items-center justify-center ">
                            <p class="text-left text-gray-400 w-full">DALLE</p>
                            <select
                                class="w-full bg-transparent text-xl !p-0 m-0 border-0 appearance-none outline-none !bg-none focus:ring-0"
                                (change)="fromTime($event, timeTable.id)">
                                <ng-container *ngFor="let hour  of hoursForSelect">
                                    <option [value]="hour">{{hour}}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                    <div class=" px-5 py-2 w-fit bg-white rounded-lg shadow-xl relative">
                        <div class="flex flex-col items-center justify-center ">
                            <p class="text-left text-gray-400 w-full">ALLE</p>
                            <select
                                class="w-full bg-transparent text-xl !p-0 m-0 border-0 appearance-none outline-none !bg-none focus:ring-0"
                                (change)="toTime($event, timeTable.id)">
                                <ng-container *ngFor="let hour  of hoursForSelect">
                                    <option [value]="hour">{{hour}}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                    <div class="p-3 rounded-full bg-white" (click)="removeSlot(timeTable.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5 text-red-600">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                        </svg>

                    </div>
                </div>
                <small *ngIf="timeTable.startTime > timeTable.endTime" class="text-red-600">La
                    data di inizio non può essere minore a quella
                    di fine</small>
            </div>

        </div>

        <div class="flex justify-end items-start">
            <button class="px-5 py-2 mr-2 bg-white rounded-lg flex items-center" (click)="addSlot()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <p class="ml-2"> Aggiungi slot </p>
            </button>
            <button class="px-5 py-2 bg-white rounded-lg ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75" />
                </svg>

            </button>
        </div>
    </div>

</div>