<div class="mt-2">
  <label for="breed-type" class="block text-sm font-medium leading-6 text-gray-900">Users</label>
  <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto"
    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange-label sm:text-sm sm:leading-6">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</div>