<div class="bg-white rounded-2xl h-full">
  <div class="p-4 mt-4 text-center justify-center items-center">
    <mat-card>
      <mat-card-content class="bg-blue-500 rounded-t mb-4">
        <div class="flex justify-between line-normal">
          <p class="text-xl text-white">User <b>Management</b></p>
          <button class="bg-white text-zinc-400 rounded w-32 text-sm">Add New User</button>
        </div>
      </mat-card-content>
      <mat-card-content>
        <table mat-table [dataSource]="users" class="mat-elevation-z8 m-4">
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef>Username</th>
            <td mat-cell *matCellDef="let element">{{ element.username }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let element">{{ element.registry.name }}</td>
          </ng-container>

          <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef>Cognome</th>
            <td mat-cell *matCellDef="let element">{{ element.registry.surname }}</td>
          </ng-container>

          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef>Ruolo</th>
            <td mat-cell *matCellDef="let element">{{ element.role }}</td>
          </ng-container>

          <ng-container matColumnDef="kind">
            <th mat-header-cell *matHeaderCellDef>Tipo</th>
            <td mat-cell *matCellDef="let element">{{ element.kind }}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Azioni</th>
            <td mat-cell *matCellDef="let element">
              <button mat-button style="background-color: aquamarine; margin-right: 0.5rem">Editar</button>
              <button mat-button style="background-color: red; color: white">Eliminar</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>

      <mat-card-content class="mt-5">
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"> </mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>
</div>
