<div class="bg-white rounded-2xl h-full w-about">
  <form [formGroup]="myForm" (ngSubmit)="updateProfile(myForm)">
    <div class="infoContent p-4 mt-4 text-center justify-center items-center">
      <!-- first title -->
      <p class="text-2xl text-black font-bold mb-4">Informazioni di base</p>

      <!-- profile picture button -->
      <!-- <div class="relative inline-block">
        <input type="file" id="fileInput" name="imgProfile" formControlName="imgProfile" class="hidden" accept="image/*"
          data-max-size="500" (change)="onFileSelected($event)" />
        <button type="button"
          class="text-sm bg-gray-800 rounded-full m-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600 mb-4 focus-visible:outline-none"
          aria-expanded="false" onclick="document.getElementById('fileInput').click()">
          <img class="w-16 h-16 rounded-full max-w-none"
            [src]="user.data.imgProfile ? user.data.imgProfile : 'assets/img/user-default.png'" alt="user photo" />
        </button>
      </div> -->
      <div class="col-span-full justify-center">
        <input
          #inputFile
          class="block hidden w-1/3 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
          id="file_input"
          type="file"
          (change)="onFileSelected($event)"
          accept="image/*"
        />
        <!-- <label for="photo" class="block text-sm font-medium leading-6 text-gray-900">Photo</label> -->
        <div class="my-2 flex flex-col items-center gap-x-3" (click)="inputFile.click()">
          <div class="relative h-24 w-24">
            <div *ngIf="myForm.controls['imgProfile'].value">
              <img [src]="myForm.controls['imgProfile'].value" class="h-24 w-24 object-cover rounded-full" alt="" />
            </div>
            <svg
              *ngIf="!myForm.controls['imgProfile'].value"
              class="h-24 w-24 text-gray-300"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
                clip-rule="evenodd"
              />
            </svg>
            <div class="bg-white absolute bottom-1 right-3.5 rounded-full">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6.827 6.175A2.31 2.31 0 015.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 00-1.134-.175 2.31 2.31 0 01-1.64-1.055l-.822-1.316a2.192 2.192 0 00-1.736-1.039 48.774 48.774 0 00-5.232 0 2.192 2.192 0 00-1.736 1.039l-.821 1.316z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M16.5 12.75a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zM18.75 10.5h.008v.008h-.008V10.5z"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>

      <!-- inputs -->
      <div class="flex">
        <div class="w-1/2 p-2">
          <div class="relative h-10 col-span-2">
            <input
              class="peer h-full w-full rounded-[7px] border-2 border-sprinted-orange-salmon border-t-transparent bg-transparent px-3 py-2.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-sprinted-orange placeholder-shown:border-t-sprinted-orange focus:border-2 focus:sprinted-orange focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50"
              placeholder=" "
              name="username"
              formControlName="username"
              readonly
            />
            <label
              class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight text-blue-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t-2 before:border-l-2 before:border-sprinted-orange-salmon before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t-2 after:border-r after:border-sprinted-orange-salmon after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:text-blue-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-sprinted-orange peer-focus:before:border-t-2 peer-focus:before:border-l peer-focus:before:border-sprinted-orange peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:border-sprinted-orange peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500"
            >
              Email
            </label>
          </div>
        </div>
      </div>

      <div class="flex">
        <div class="w-1/2 p-2">
          <div class="relative h-10 col-span-2">
            <input
              class="peer h-full w-full rounded-[7px] border-2 border-sprinted-orange-salmon border-t-transparent bg-transparent px-3 py-2.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-sprinted-orange placeholder-shown:border-t-sprinted-orange focus:border-2 focus:sprinted-orange focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50"
              placeholder=" "
              name="name"
              formControlName="name"
            />
            <label
              class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight text-blue-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t-2 before:border-l-2 before:border-sprinted-orange-salmon before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t-2 after:border-r after:border-sprinted-orange-salmon after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:text-blue-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-sprinted-orange peer-focus:before:border-t-2 peer-focus:before:border-l peer-focus:before:border-sprinted-orange peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:border-sprinted-orange peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500"
            >
              Nome
            </label>
          </div>
        </div>
        <div class="w-1/2 p-2">
          <div class="relative h-10 col-span-2">
            <input
              class="peer h-full w-full rounded-[7px] border-2 border-sprinted-orange-salmon border-t-transparent bg-transparent px-3 py-2.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-sprinted-orange placeholder-shown:border-t-sprinted-orange focus:border-2 focus:sprinted-orange focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50"
              placeholder=" "
              name="surname"
              formControlName="surname"
            />
            <label
              class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight text-blue-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t-2 before:border-l-2 before:border-sprinted-orange-salmon before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t-2 after:border-r after:border-sprinted-orange-salmon after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:text-blue-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-sprinted-orange peer-focus:before:border-t-2 peer-focus:before:border-l peer-focus:before:border-sprinted-orange peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:border-sprinted-orange peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500"
            >
              Cognome
            </label>
          </div>
        </div>
      </div>

      <div class="flex">
        <div class="w-1/2 p-2">
          <div class="relative h-10 col-span-2">
            <input
              matInput
              #myInput
              [matDatepicker]="picker"
              placeholder=" "
              formControlName="dateOfBirth"
              (click)="openDate(picker, myInput)"
              type="text"
              id="date-birth-pet"
              name="date-pet"
              class="peer h-full w-full rounded-[7px] border-2 border-sprinted-orange-salmon border-t-transparent bg-transparent px-3 py-2.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-sprinted-orange placeholder-shown:border-t-sprinted-orange focus:border-2 focus:sprinted-orange focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50"
            />
            <mat-datepicker class="w-full" #picker></mat-datepicker>

            <label
              class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight text-blue-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t-2 before:border-l-2 before:border-sprinted-orange-salmon before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t-2 after:border-r after:border-sprinted-orange-salmon after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:text-blue-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-sprinted-orange peer-focus:before:border-t-2 peer-focus:before:border-l peer-focus:before:border-sprinted-orange peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:border-sprinted-orange peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500"
            >
              Data Nascita
            </label>
          </div>
        </div>
        <div class="w-1/2 p-2">
          <div class="relative h-10 col-span-2">
            <app-search-map
              classLabel="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight text-blue-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t-2 before:border-l-2 before:border-sprinted-orange-salmon before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t-2 after:border-r after:border-sprinted-orange-salmon after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:text-blue-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-sprinted-orange peer-focus:before:border-t-2 peer-focus:before:border-l peer-focus:before:border-sprinted-orange peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:border-sprinted-orange peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500"
              classInput="peer h-full w-full rounded-[7px] border-2 border-sprinted-orange-salmon border-t-transparent bg-transparent px-3 py-2.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-sprinted-orange placeholder-shown:border-t-sprinted-orange focus:border-2 focus:sprinted-orange focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50 focus:ring-0"
              [showLabel]="true"
              [isInlineInput]="true"
              (onAddressSelected)="myForm.controls['address'].patchValue($event)"
              placeholderText=""
              valueAddress
            >
              <p title>Indirizzo di residenza</p>
            </app-search-map>
          </div>
        </div>
      </div>

      <!-- update button -->
      <button class="bg-button-orange text-white px-2 py-1 mt-4 mb-4 rounded-full mr-2 btn-w-custom">Aggiorna</button>
      <button type="button" class="bg-custom text-white px-2 py-1 mt-4 mb-4 rounded-full btn-w-custom" (click)="showModalPasswordMessage()">Cambia Password</button>
    </div>
  </form>
</div>
<app-modal>
  <button messageModal type="button" class="text-white py-2 px-4 rounded modal-button" (click)="closeModal()">OK</button>
</app-modal>
