.w-about {
  width: 100%;
}

input:focus {
  box-shadow: none;
  border-color: rgb(217 92 38);
  border-top-color: transparent;
}

.btn-w-custom{
  width: 20rem;
}

.bg-custom {
  --tw-bg-opacity: 1;
  background-color: #2b4fa4;
}

.modal-button {
  display: inline-block;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: red;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  margin: 0.3125em;
  padding: 0.625em 1.1em;
  transition: box-shadow .1s;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0);
  font-weight: 500;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modal-button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.modal-button:active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

@media screen and (max-width: 767px) {
  .infoContent > div {
    flex-wrap: wrap;
  }
  
  .infoContent > div > div {
    width: 100%;
  }
}