<div class="w-full grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-7 gap-4 mb-4 rounded-3xl overflow-hidden mt-6">
  <div class="bg-white border-2 border-sprinted-orange rounded-2xl h-16 md:h-16">
    <div class="flex w-full items-center p-2.5 h-full w-full">
      <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gough.png"
        class="w-14 h-14 rounded-full max-w-none mr-2" alt="" />
      <p class="font-bold text-orange-label w-full text-left">
        Gioachino S.
      </p>
    </div>
  </div>
  <div class="bg-white border-2 border-sprinted-orange rounded-2xl h-16 md:h-16">
    <div class="flex w-full items-center p-2.5 h-full w-full">
      <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gough.png"
        class="w-14 h-14 rounded-full max-w-none mr-2" alt="" />
      <p class="font-bold text-orange-label w-full text-left">
        Gloria S.
      </p>
    </div>
  </div>
  <div class="bg-white rounded-2xl h-16 md:h-16">
    <div class="flex w-full items-center p-2.5 h-full w-full">
      <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gough.png"
        class="w-14 h-14 rounded-full max-w-none mr-2" alt="" />
      <p class="font-bold text-orange-label w-full text-left">
        Giuseppe C.
      </p>
    </div>
  </div>
  <div class="bg-white rounded-2xl h-16 md:h-16">
    <div class="flex w-full items-center p-2.5 h-full w-full">
      <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gough.png"
        class="w-14 h-14 rounded-full max-w-none mr-2" alt="" />
      <p class="font-bold text-orange-label w-full text-left">
        Rosalia L.
      </p>
    </div>
  </div>
  <div class="bg-white rounded-2xl h-16 md:h-16">
    <div class="flex w-full items-center p-2.5 h-full w-full">
      <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gough.png"
        class="w-14 h-14 rounded-full max-w-none mr-2" alt="" />
      <p class="font-bold text-orange-label w-full text-left">
        Silvia T.
      </p>
    </div>
  </div>
</div>
