.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

span{
    font-size: 12px;
}

input:focus {
  box-shadow: none;
  border-color: rgb(217 92 38);
  border-top-color: transparent;
}

.micolorRojoMAsfuerte {
}

a{
    color: orange;
    cursor: pointer;
}
