<div *ngIf="showLogin"
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex flex-col">
  <div class="relative w-auto my-6 mx-auto max-w-6xl">
    <!--content-->
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <div
        class="border-0 rounded-2xl shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
        <!--body-->
        <div class="relative p-6 flex-auto">
          <div class="flex justify-between">
            <p>Accedi</p>
            <button type="button" (click)="closeModal()">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
                <path
                  d="M13.17 0.314649C13.5884 -0.104883 14.2678 -0.104883 14.6862 0.314649C15.1046 0.734181 15.1046 1.4155 14.6862 1.83503L9.01623 7.51717L14.6829 13.2027C15.1012 13.6222 15.1012 14.3035 14.6829 14.7231C14.2645 15.1426 13.585 15.1426 13.1666 14.7231L7.5 9.03755L1.83002 14.7197C1.41164 15.1392 0.732177 15.1392 0.31379 14.7197C-0.104597 14.3002 -0.104597 13.6188 0.31379 13.1993L5.98377 7.51717L0.317137 1.83168C-0.10125 1.41214 -0.10125 0.734181 0.317137 0.314649C0.735524 -0.104883 1.41498 -0.104883 1.83337 0.314649L7.5 5.99679L13.17 0.314649Z"
                  fill="#80756E" />
              </svg>
            </button>
          </div>

          <div class="flex w-72 flex-col items-end gap-6 py-4">
            <div class="relative h-10 w-full min-w-[200px]">
              <input
                class="peer h-full w-full rounded-[7px] border border-sprinted-orange border-t-transparent bg-transparent px-3 py-2.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-sprinted-orange placeholder-shown:border-t-sprinted-orange focus:border-2 focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50"
                placeholder=" " name="username" required [(ngModel)]="user.username" />
              <label
                class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight text-blue-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:border-sprinted-orange before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-sprinted-orange after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:text-blue-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent focus:sprinted-orange peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-sprinted-orange peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:before:border-sprinted-orange peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:border-sprinted-orange peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500">
                Username / Indirizzo email
              </label>
            </div>
            <div class="relative h-11 w-full min-w-[200px]">
              <div class="relative">
                <div (click)="showPassword()" class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer">
                  <ng-container *ngIf="isPasswordVisibile">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88" />
                    </svg>
                  </ng-container>
                  <ng-container *ngIf="!isPasswordVisibile">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                  </ng-container>
                </div>
                <input [type]="typePassword" id="floating_outlined"
                  class="peer h-full w-full rounded-[7px] border border-sprinted-orange border-t-transparent bg-transparent px-3 py-2.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-sprinted-orange placeholder-shown:border-t-sprinted-orange focus:border-2 focus:sprinted-orange focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50"
                  placeholder=" " required name="password" [(ngModel)]="user.password" />
                <label for="floating_outlined"
                  class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight text-blue-gray-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:border-sprinted-orange before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-sprinted-orange after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:text-blue-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-sprinted-orange peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:before:border-sprinted-orange peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:border-sprinted-orange peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500">Password</label>
              </div>
            </div>
            <span>Non hai ancora un account? <a (click)="showFormRegister()"
                class="flex-content row wrap">Registrati</a></span>
          </div>
        </div>

        <div class="flex items-center justify-end p-3 border-solid border-slate-200 rounded-full">
          <button #buttonLogin *ngIf="!isLoading; else loading"
            class="bg-button-orange text-white active:bg-emerald-600 font-bold text-sm px-6 py-2 rounded-full shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="submit">
            Login
          </button>

          <ng-template #loading>
            <div role="status" class="px-6 py-1">
              <svg aria-hidden="true"
                class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-button-orange"
                viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                  fill="currentColor" />
                <path
                  d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                  fill="currentFill" />
              </svg>
              <span class="sr-only">Loading...</span>
            </div>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
  <app-alerts [showErrorAlert]="showErrorAlert" (onchangeVariable)="showErrorAlert = $event"></app-alerts>
</div>
<div *ngIf="showLogin" class="opacity-25 fixed inset-0 z-40 bg-black"></div>