<div class="flex items-center justify-start w-full h-full bg-gray-300 absolute inset-0">
  <div class="flex flex-col items-center w-28 h-full overflow-hidden text-gray-700 bg-gray-100 rounded relative">
    <a class="flex items-center justify-center mt-3">
      <img src="assets/sprinted/logo.svg" alt="" />
    </a>
    <div class="flex flex-col items-center my-auto space-y-5">
      <a class="flex items-center justify-center w-18 h-18 sm:w-10 sm:h-10 mt-2 bg-[#FFE5D6] rounded hover:bg-gray-300"
        [routerLink]="['/private/professional/dashboard-professional']">
        <img src="assets/sidebar/professional/home.svg" alt="" />
      </a>

      <a class="flex items-center justify-center w-18 h-18 sm:w-10 sm:h-10 mt-2 bg-[#FFE5D6] rounded hover:bg-gray-300"
        [routerLink]="['/private/professional/my_agend']">
        <img src="assets/sidebar/professional/my_agend.svg" alt="" />
      </a>


      <a class="flex items-center justify-center w-18 h-18 sm:w-10 sm:h-10 mt-2 rounded hover:bg-gray-300" href="#">
        <img src="assets/sidebar/professional/meetings.svg" alt="" />
      </a>
      <a class="flex items-center justify-center w-18 h-18 sm:w-10 sm:h-10 mt-2 rounded hover:bg-gray-300" href="#">
        <img src="assets/sidebar/professional/chat.svg" alt="" />
      </a>
      <a class="flex items-center justify-center w-18 h-18 sm:w-10 sm:h-10 mt-2 rounded hover:bg-gray-300" href="#">
        <img src="assets/sidebar/professional/documents.svg" alt="" />
      </a>
      <a class="flex items-center justify-center w-18 h-18 sm:w-10 sm:h-10 mt-2 rounded hover:bg-gray-300" href="#">
        <img src="assets/sidebar/professional/notes.svg" alt="" />
      </a>

      <a class="flex items-center justify-center w-18 h-18 sm:w-10 sm:h-10 mt-2 rounded hover:bg-gray-300" href="#">
        <img src="assets/sidebar/professional/statistics.svg" alt="" />
      </a>
      <a class="relative flex items-center justify-center rounded w-18 h-18 sm:w-10 sm:h-10 mt-2 hover:bg-gray-300"
        href="#">
        <img src="assets/sidebar/professional/favorites.svg" alt="" />
      </a>
      <a (click)="logout()"
        class="flex items-center py-2 px-6 text-base font-medium text-gray-900 rounded-lg transition duration-75 hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 512.016 512"
          style="enable-background: new 0 0 512 512" xml:space="preserve"
          class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
          <g>
            <path
              d="M496 240.008H293.332c-8.832 0-16-7.168-16-16s7.168-16 16-16H496c8.832 0 16 7.168 16 16s-7.168 16-16 16zm0 0"
              fill="#000000" data-original="#000000" class=""></path>
            <path
              d="M416 320.008a15.89 15.89 0 0 1-11.309-4.692c-6.25-6.253-6.25-16.386 0-22.636l68.696-68.692-68.696-68.695c-6.25-6.25-6.25-16.383 0-22.633 6.254-6.254 16.387-6.254 22.637 0l80 80c6.25 6.25 6.25 16.383 0 22.633l-80 80A15.896 15.896 0 0 1 416 320.008zM170.668 512.008c-4.566 0-8.898-.64-13.227-1.985L29.055 467.25C11.585 461.148 0 444.871 0 426.676v-384C0 19.145 19.137.008 42.668.008c4.562 0 8.895.64 13.227 1.984l128.382 42.774c17.473 6.101 29.055 22.379 29.055 40.574v384c0 23.531-19.133 42.668-42.664 42.668zm-128-480c-5.867 0-10.668 4.8-10.668 10.668v384c0 4.543 3.05 8.765 7.402 10.281l127.785 42.582c.918.297 2.114.469 3.481.469 5.867 0 10.664-4.801 10.664-10.668v-384c0-4.543-3.05-8.766-7.402-10.281L46.145 32.477c-.918-.297-2.114-.47-3.477-.47zm0 0"
              fill="#000000" data-original="#000000" class=""></path>
            <path
              d="M325.332 170.676c-8.832 0-16-7.168-16-16v-96c0-14.7-11.965-26.668-26.664-26.668h-240c-8.832 0-16-7.168-16-16s7.168-16 16-16h240c32.363 0 58.664 26.305 58.664 58.668v96c0 8.832-7.168 16-16 16zM282.668 448.008h-85.336c-8.832 0-16-7.168-16-16s7.168-16 16-16h85.336c14.7 0 26.664-11.969 26.664-26.668v-96c0-8.832 7.168-16 16-16s16 7.168 16 16v96c0 32.363-26.3 58.668-58.664 58.668zm0 0"
              fill="#000000" data-original="#000000" class=""></path>
          </g>
        </svg>
      </a>
    </div>
    <div class="flex flex-col items-center justify-center mt-auto space-y-4 py-4">
      <img src="assets/sidebar/professional/notification.svg" alt="" />
      <a class="relative flex items-center justify-center rounded w-18 h-18 sm:w-10 sm:h-10 mt-2 hover:bg-gray-300"
        [routerLink]="['/private/professional/profile']">
        <img class="w-10 h-10 rounded-full" src="assets/img/user-default.png" alt="Rounded avatar" />
      </a>
    </div>
  </div>
  <div class=" w-full h-full">

    <router-outlet></router-outlet>
  </div>
</div>