<div>
  <div class="w-full flex justify-end px-4">
    <button
      type="button"
      (click)="openFormModal()"
      class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-blue-label text-white rounded-full border border-gray-200 hover:bg-white hover:text-blue-label border-blue-label focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
    >
      +
    </button>
  </div>
  <div style="height: 80vh" *ngIf="treatmentPlans.length">
    <bryntum-calendar #calendar [sidebar]="false" [events]="treatmentPlans"></bryntum-calendar>
  </div>
</div>

<app-form-treatment-plan
  [showModal]="showModalCreate"
  [treamtmentPlanToEdit]="currentTreatmentPlan"
  (closeModalAction)="closeModal($event)"
></app-form-treatment-plan>
