<!-- <pre>{{ user | json }}</pre> -->
<div class="modifyProfile sm:pt-0 md:pt-4 pt-4 px-10 min-h-screen bg-slate-100">
  <div class="flex">
    <!-- <div class="flex grid grid-cols-1">
      <app-profile-calendar></app-profile-calendar>
      <app-profile-sidebar></app-profile-sidebar>
    </div> -->
    <app-profile-about></app-profile-about>
    <!-- <router-outlet></router-outlet> -->
  </div>
  <!-- <app-profile-contact></app-profile-contact> -->
</div>