<div class="dashboardContainer sm:px-20 md:px-20 sm:pt-10 px-10 min-h-screen sm:pt-0 bg-slate-100">
  <div class="flex gap-4">
    <div class="h-14 md:h-14 w-14">
      <button
        class="addPet flex w-full bg-white rounded-full hover:bg-sprinted-orange-salmon justify-center items-center p-2.5 h-full w-1/3 border-2 border-blue-600 focus-visible:outline-solid focus-visible:outline-blue-600"
        (click)="addPet()"
      >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
      </button>
    </div>
    <div class="w-full grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-5 gap-4 mb-4 rounded-3xl overflow-hidden">
      <ng-container *ngFor="let myPet of myPets">
        <div
          [ngClass]="{
            'bg-sprinted-orange-salmon': myPet.isSelected,
            'bg-white': !myPet.isSelected
          }"
          class="hover:bg-sprinted-orange-salmon rounded-3xl h-14 md:h-14"
          (click)="selectPet(myPet)"
        >
          <div class="flex w-full items-center p-2.5 h-full w-full">
            <img
              [src]="
                myPet.imgProfile
                  ? myPet.imgProfile
                  : 'data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2277%22 height=%22127%22 viewBox=%220 0 77 127%22 fill=%22none%22%3E%3Cpath d=%22M8.91355 82.8808C7.72355 85.7808 5.91355 88.3908 4.30355 91.0908C3.99355 91.6108 3.69355 92.1308 3.39355 92.6608%22 fill=%22black%22 /%3E%3Cpath d=%22M22.3036 65.8308C22.3036 66.3508 20.5936 66.6608 19.6936 67.1808C18.7936 66.6608 17.0836 66.3508 17.0836 65.8308C17.0836 64.6008 22.3036 64.8608 22.3036 65.8608%22 fill=%22black%22 /%3E%3Cpath d=%22M3.39355 92.6608C4.15355 98.9708 11.7336 94.6908 14.5036 99.6208C14.9936 100.491 14.7836 97.7308 15.8836 98.6908C17.2536 99.8908 16.3336 97.3908 17.0436 97.8408C18.7636 98.9508 18.4436 96.9008 15.6436 94.9008C12.6436 92.7508 7.58355 90.2908 8.92355 82.8708%22 fill=%22black%22 /%3E%3Cpath d=%22M19.6936 67.1808C19.6936 69.9208 17.5836 70.5108 15.7136 69.1008C15.7136 69.1008 19.6936 73.8708 23.6636 69.1008C21.8036 70.5108 19.6836 69.9208 19.6836 67.1808H19.6936Z%22 fill=%22black%22 /%3E%3Cpath d=%22M70.1836 75.1908C61.9436 61.6708 40.8536 54.8708 37.1936 39.6008C34.1436 26.8608 40.3136 15.7708 50.9536 11.4008C49.0636 13.5308 47.9136 16.3408 47.9136 19.4108C47.9136 26.0908 53.3236 31.5008 60.0036 31.5008C66.6836 31.5008 72.0936 26.0908 72.0936 19.4108C72.0936 15.6508 70.3836 12.3008 67.6936 10.0808C36.2036 -17.0792 -12.6764 15.0908 3.03357 53.8008C3.71357 55.4808 4.60357 57.1308 5.64357 58.7408C6.37357 56.8208 7.23357 54.8908 7.50357 52.8908C7.83357 50.5008 7.29357 48.0608 7.57357 45.6608C7.68357 44.7408 7.90357 43.8608 8.21357 43.0008C9.00357 40.8208 12.2236 41.3008 12.3936 43.6108C12.4836 44.8308 12.6836 46.0408 12.9936 47.2208C13.1136 47.6608 13.5736 47.9408 14.0136 47.8308C16.0136 47.3408 18.0736 46.9208 20.1236 46.8908C22.1036 46.8608 24.2236 47.3308 26.2436 47.8308C26.6836 47.9408 27.1436 47.6708 27.2636 47.2308C27.5736 46.0508 27.7736 44.8408 27.8636 43.6208C28.0236 41.3108 31.2536 40.8308 32.0436 43.0108C32.3536 43.8608 32.5736 44.7508 32.6836 45.6708C32.9636 48.0708 32.4236 50.5108 32.7536 52.9008C33.3336 57.1008 36.5236 61.0208 35.5236 65.1408C34.8236 68.0008 32.2736 70.0108 31.0136 72.6808C29.5936 75.6908 29.9736 79.2808 31.1536 82.3908C31.2236 82.5808 31.3136 82.7708 31.3936 82.9608L31.3636 82.9008C32.7036 90.3108 27.6436 92.7808 24.6436 94.9308C21.8436 96.9308 21.5236 98.9808 23.2436 97.8708C23.9436 97.4208 23.0336 99.9208 24.4036 98.7208C25.5036 97.7608 25.2936 100.521 25.7836 99.6508C28.5436 94.7208 36.1236 99.0008 36.8836 92.6908C40.2836 98.7808 42.6536 105.641 41.8236 112.521C41.1936 117.691 38.7636 122.421 35.2836 126.321C71.8636 127.581 85.6836 100.631 70.1836 75.2108V75.1908ZM36.6536 92.2608C36.6836 92.3108 36.7136 92.3708 36.7436 92.4208L36.6536 92.2608Z%22 fill=%22black%22 /%3E%3Cpath d=%22M28.7835 110.071L29.5335 109.321C30.0035 108.851 29.9635 108.081 29.4535 107.661C24.9135 103.971 18.2735 104.131 13.9035 108.121C12.6935 106.791 10.5435 106.561 8.99351 107.481C8.68351 107.671 8.63351 108.101 8.88351 108.361C9.10351 108.581 9.37351 108.851 9.59351 109.071C9.80351 109.281 10.1335 109.281 10.3635 109.091C11.0935 108.471 12.2435 108.401 13.0935 108.941C9.13351 113.311 8.98351 119.931 12.6635 124.451C13.0835 124.961 13.8535 125.001 14.3235 124.531L15.0735 123.781C18.4935 127.201 23.8435 127.531 27.6335 124.761C28.0335 124.471 29.1035 124.821 29.4635 124.461C29.8235 124.101 29.4635 123.031 29.7635 122.631C32.5335 118.841 32.2035 113.491 28.7835 110.071Z%22 fill=%22black%22 /%3E%3C/svg%3E'
              "
              class="w-9 h-9 rounded-full object-cover"
              alt=""
            />
            <p class="font-bold text-orange-label w-full text-center">
              {{ myPet.name }}
            </p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <app-details-dashboard *ngIf="currentPet" [pet]="currentPet" (editPet)="addPet($event)" (eventDeletePet)="getPets()"></app-details-dashboard>
</div>
<!-- <button
  class="fixed z-90 bottom-1 right-1 drop-shadow-lg flex justify-center items-center text-white text-4xl hover:drop-shadow-2xl">
  <img src="assets/sidebar/tedbuddy/messaggi.svg" alt="" />
</button> -->
<router-outlet></router-outlet>
