::ng-deep .map-container {
    width: 100% !important;
    height: 100% !important;
}

.addPet {
    width: 56px;
}

@media screen and (max-width: 1023px) {
    .dashboardContainer {
        // padding-top: calc(72px + 1rem);
        padding-left: 12px;
        padding-right: 12px;
    }
}