<aside aria-label="Sidenav" id="drawer-navigation" aria-labelledby="drawer-navigation">
  <div class="bg-white rounded-2xl mr-4 w-96 h-sidebar">
    <div class="overflow-y-auto py-4 px-3 h-full dark:bg-gray-800">
      <ul class="space-y-3">
        <li [routerLink]="['/private/tedbuddy/profile/about']" routerLinkActive="bg-sprinted-orange-salmon rounded-3xl">
          <a
            class="flex items-center py-2 px-6 text-base font-medium text-gray-600 rounded-3xl dark:text-white hover:bg-sprinted-orange-salmon dark:hover:bg-gray-700 group">
            <span class="ml-3 text-gray-600 hover:text-sprinted-orange-text">
              Informazioni di b ase e disponibilità
            </span>
          </a>
        </li>
        <li [routerLink]="['/private/tedbuddy/profile/pathology']"
          routerLinkActive="bg-sprinted-orange-salmon rounded-3xl">
          <a
            class="flex items-center py-2 px-6 text-base font-medium text-gray-600 rounded-3xl dark:text-white hover:bg-sprinted-orange-salmon dark:hover:bg-gray-700 group">
            <span class="ml-3 text-gray-600 hover:text-sprinted-orange-text" routerLinkActive="font-semibold">Patologie
              trattate</span>
          </a>
        </li>
        <li [routerLink]="['/private/tedbuddy/profile/photo']" routerLinkActive="bg-sprinted-orange-salmon rounded-3xl">
          <a
            class="flex items-center py-2 px-6 text-base font-medium text-gray-600 rounded-3xl dark:text-white hover:bg-sprinted-orange-salmon dark:hover:bg-gray-700 group">
            <span class="ml-3 text-gray-600 hover:text-sprinted-orange-text"
              routerLinkActive="font-semibold">Foto</span>
          </a>
        </li>
        <li [routerLink]="['/private/tedbuddy/profile/video']" routerLinkActive="bg-sprinted-orange-salmon rounded-3xl">
          <a
            class="flex items-center py-2 px-6 text-base font-medium text-gray-600 rounded-3xl dark:text-white hover:bg-sprinted-orange-salmon dark:hover:bg-gray-700 group">
            <span class="ml-3 text-gray-600 hover:text-sprinted-orange-text"
              routerLinkActive="font-semibold">Video</span>
          </a>
        </li>
        <li [routerLink]="['/private/tedbuddy/profile/certificate']"
          routerLinkActive="bg-sprinted-orange-salmon rounded-3xl">
          <a
            class="flex items-center py-2 px-6 text-base font-medium  rounded-3xl dark:text-white hover:bg-sprinted-orange-salmon dark:hover:bg-gray-700 group">
            <span class="ml-3 text-gray-600 hover:text-sprinted-orange-text"
              routerLinkActive="font-semibold">Certificatti</span>
          </a>
        </li>
        <li [routerLink]="['/private/tedbuddy/profile/specialization']"
          routerLinkActive="bg-sprinted-orange-salmon rounded-3xl">
          <a
            class="flex items-center py-2 px-6 text-base font-medium  rounded-3xl dark:text-white hover:bg-sprinted-orange-salmon dark:hover:bg-gray-700 group">
            <span class="ml-3 text-gray-600 hover:text-sprinted-orange-text"
              routerLinkActive="font-semibold">Specializzazioni</span>
          </a>
        </li>
        <li [routerLink]="['/private/tedbuddy/profile/publication']"
          routerLinkActive="bg-sprinted-orange-salmon rounded-3xl">
          <a
            class="flex items-center py-2 px-6 text-base font-medium  rounded-3xl dark:text-white hover:bg-sprinted-orange-salmon dark:hover:bg-gray-700 group">
            <span class="ml-3 text-gray-600 hover:text-sprinted-orange-text"
              routerLinkActive="font-semibold">Pubblicazioni</span>
          </a>
        </li>
        <li [routerLink]="['/private/tedbuddy/profile/add-information']"
          routerLinkActive="bg-sprinted-orange-salmon rounded-3xl">
          <a
            class="flex items-center py-2 px-6 text-base font-medium  rounded-3xl dark:text-white hover:bg-sprinted-orange-salmon dark:hover:bg-gray-700 group">
            <span class="ml-3 text-gray-600 hover:text-sprinted-orange-text"
              routerLinkActive="font-semibold">Informazioni
              aggiuntive</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>
