<form class="px-14 py-8">
  <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
  <div class="relative">
    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
      <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="none" viewBox="0 0 20 20">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
      </svg>
    </div>
    <input type="search"
      class="w-1/2 p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-l-lg bg-gray-50 focus:border-sprinted-orange focus:ring-transparent"
      placeholder="Search.." name="search" [(ngModel)]="searchText" required />
    <app-search-map [typeInput]="'search'" [isInlineInput]="true" [showLabel]="false"
      (onAddressSelected)="locationSelected = $event" placeholderText="Posizione"
      classInput="w-1/2 p-4 pl-10 text-sm text-gray-900 border border-l-0 focus:border border-gray-300 rounded-r-lg bg-gray-50 dark:bg-gray-700 focus:border-sprinted-orange focus:ring-transparent">
    </app-search-map>
    <!-- <input
      type="search"
      id="default-search"
      class="w-1/2 p-4 pl-10 text-sm text-gray-900 border border-l-0 border-gray-300 rounded-r-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Posizione"
      required
    /> -->
    <button type="submit" (click)="search()"
      class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Search
    </button>
  </div>
</form>

<div class="flex flex-col md:flex-row w-screen h-full px-14 py-7">
  <div class="w-full flex flex-col h-fit gap-4 p-4">
    <div class="flex justify-between items-center">
      <p class="text-blue-900 text-xl font-extrabold">My results</p>
      <p class="text-blue-900 text-sm font-extrabold">Trovati: {{persons.length}}</p>
    </div>

    <!-- Person card -->
    <div class="flex flex-col p-4 text-lg font-semibold shadow-md border rounded-sm" *ngFor="let person of persons">
      <div class="flex flex-col my-4 md:flex-row gap-3 justify-between">
        <!-- Person Information -->
        <div class="flex flex-row gap-6 items-center">
          <div class="w-28 h-28">
            <img class="w-full h-full"
              src="https://media.licdn.com/dms/image/C4E03AQEoAB1O9SBK4Q/profile-displayphoto-shrink_800_800/0/1647552746578?e=2147483647&v=beta&t=qJDZmNEJASkHLrbomDW5C53gxJ_l8recZdYeTo3lB6c" />
          </div>
          <div class="flex flex-col gap-1">
            <p class="text-lg text-gray-800 font-semibold">{{person.name}} {{person.surname}}</p>
            <p class="text-xs text-gray-600 font-semibold">Veterinario</p>
            <p class="text-xs text-gray-600 font-semibold">{{person.location.formattedAddress}}</p>
            <button class="px-2 py-2 text-white rounded-lg bg-blue-label">Prenota un appuntamento</button>
          </div>
        </div>
        <!-- Calendar Information -->
        <div class="self-center text-center"></div>
      </div>
    </div>
  </div>

  <!-- Purchase Resume -->
  <div class="flex flex-col w-full md:w-2/3 h-screen gap-4 p-4">
    <p class="text-blue-900 text-xl font-extrabold">Map</p>
    <div
      class="flex flex-col p-4 gap-4 text-lg bg-sprinted-orange h-1/2 font-semibold shadow-md border rounded-sm relative">
      <app-google-maps-screen [nearMarkersFromMe]="persons"></app-google-maps-screen>
    </div>
  </div>
</div>